Code/TopCATCore/src/wsdl/ICAT400/ICATService/ICAT.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="client.icat3.uk" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="client.icat3.uk" name="ICATService">
<types>
<xsd:schema>
<xsd:import namespace="client.icat3.uk" schemaLocation="ICAT.xsd_1.xsd"/>
</xsd:schema>
</types>
<message name="get">
<part name="parameters" element="tns:get"/>
</message>
<message name="getResponse">
<part name="parameters" element="tns:getResponse"/>
</message>
<message name="SessionException">
<part name="fault" element="tns:SessionException"/>
</message>
<message name="NoSuchObjectFoundException">
<part name="fault" element="tns:NoSuchObjectFoundException"/>
</message>
<message name="InsufficientPrivilegesException">
<part name="fault" element="tns:InsufficientPrivilegesException"/>
</message>
<message name="BadParameterException">
<part name="fault" element="tns:BadParameterException"/>
</message>
<message name="IcatInternalException">
<part name="fault" element="tns:IcatInternalException"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="ValidationException">
<part name="fault" element="tns:ValidationException"/>
</message>
<message name="ObjectAlreadyExistsException">
<part name="fault" element="tns:ObjectAlreadyExistsException"/>
</message>
<message name="search">
<part name="parameters" element="tns:search"/>
</message>
<message name="searchResponse">
<part name="parameters" element="tns:searchResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="dummy">
<part name="parameters" element="tns:dummy"/>
</message>
<message name="dummyResponse">
<part name="parameters" element="tns:dummyResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="loginLifetime">
<part name="parameters" element="tns:loginLifetime"/>
</message>
<message name="loginLifetimeResponse">
<part name="parameters" element="tns:loginLifetimeResponse"/>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<message name="addRule">
<part name="parameters" element="tns:addRule"/>
</message>
<message name="addRuleResponse">
<part name="parameters" element="tns:addRuleResponse"/>
</message>
<message name="loginAdmin">
<part name="parameters" element="tns:loginAdmin"/>
</message>
<message name="loginAdminResponse">
<part name="parameters" element="tns:loginAdminResponse"/>
</message>
<message name="addUserGroupMember">
<part name="parameters" element="tns:addUserGroupMember"/>
</message>
<message name="addUserGroupMemberResponse">
<part name="parameters" element="tns:addUserGroupMemberResponse"/>
</message>
<message name="removeUserGroupMember">
<part name="parameters" element="tns:removeUserGroupMember"/>
</message>
<message name="removeUserGroupMemberResponse">
<part name="parameters" element="tns:removeUserGroupMemberResponse"/>
</message>
<message name="removeRule">
<part name="parameters" element="tns:removeRule"/>
</message>
<message name="removeRuleResponse">
<part name="parameters" element="tns:removeRuleResponse"/>
</message>
<message name="getUserDetails">
<part name="parameters" element="tns:getUserDetails"/>
</message>
<message name="getUserDetailsResponse">
<part name="parameters" element="tns:getUserDetailsResponse"/>
</message>
<message name="NoSuchUserException">
<part name="fault" element="tns:NoSuchUserException"/>
</message>
<message name="isSessionValid">
<part name="parameters" element="tns:isSessionValid"/>
</message>
<message name="isSessionValidResponse">
<part name="parameters" element="tns:isSessionValidResponse"/>
</message>
<message name="getKeywordsForUser">
<part name="parameters" element="tns:getKeywordsForUser"/>
</message>
<message name="getKeywordsForUserResponse">
<part name="parameters" element="tns:getKeywordsForUserResponse"/>
</message>
<message name="getKeywordsForUserStartWithMax">
<part name="parameters" element="tns:getKeywordsForUserStartWithMax"/>
</message>
<message name="getKeywordsForUserStartWithMaxResponse">
<part name="parameters" element="tns:getKeywordsForUserStartWithMaxResponse"/>
</message>
<message name="getKeywordsForUserMax">
<part name="parameters" element="tns:getKeywordsForUserMax"/>
</message>
<message name="getKeywordsForUserMaxResponse">
<part name="parameters" element="tns:getKeywordsForUserMaxResponse"/>
</message>
<message name="getKeywordsForUserType">
<part name="parameters" element="tns:getKeywordsForUserType"/>
</message>
<message name="getKeywordsForUserTypeResponse">
<part name="parameters" element="tns:getKeywordsForUserTypeResponse"/>
</message>
<message name="getAllKeywords">
<part name="parameters" element="tns:getAllKeywords"/>
</message>
<message name="getAllKeywordsResponse">
<part name="parameters" element="tns:getAllKeywordsResponse"/>
</message>
<message name="searchByAdvanced">
<part name="parameters" element="tns:searchByAdvanced"/>
</message>
<message name="searchByAdvancedResponse">
<part name="parameters" element="tns:searchByAdvancedResponse"/>
</message>
<message name="searchByAdvancedPagination">
<part name="parameters" element="tns:searchByAdvancedPagination"/>
</message>
<message name="searchByAdvancedPaginationResponse">
<part name="parameters" element="tns:searchByAdvancedPaginationResponse"/>
</message>
<message name="searchByKeywords">
<part name="parameters" element="tns:searchByKeywords"/>
</message>
<message name="searchByKeywordsResponse">
<part name="parameters" element="tns:searchByKeywordsResponse"/>
</message>
<message name="searchByKeywordsAll">
<part name="parameters" element="tns:searchByKeywordsAll"/>
</message>
<message name="searchByKeywordsAllResponse">
<part name="parameters" element="tns:searchByKeywordsAllResponse"/>
</message>
<message name="getMyInvestigations">
<part name="parameters" element="tns:getMyInvestigations"/>
</message>
<message name="getMyInvestigationsResponse">
<part name="parameters" element="tns:getMyInvestigationsResponse"/>
</message>
<message name="getMyInvestigationsIncludes">
<part name="parameters" element="tns:getMyInvestigationsIncludes"/>
</message>
<message name="getMyInvestigationsIncludesResponse">
<part name="parameters" element="tns:getMyInvestigationsIncludesResponse"/>
</message>
<message name="getMyInvestigationsIncludesPagination">
<part name="parameters" element="tns:getMyInvestigationsIncludesPagination"/>
</message>
<message name="getMyInvestigationsIncludesPaginationResponse">
<part name="parameters" element="tns:getMyInvestigationsIncludesPaginationResponse"/>
</message>
<message name="searchByUserID">
<part name="parameters" element="tns:searchByUserID"/>
</message>
<message name="searchByUserIDResponse">
<part name="parameters" element="tns:searchByUserIDResponse"/>
</message>
<message name="searchByUserIDPagination">
<part name="parameters" element="tns:searchByUserIDPagination"/>
</message>
<message name="searchByUserIDPaginationResponse">
<part name="parameters" element="tns:searchByUserIDPaginationResponse"/>
</message>
<message name="searchByUserSurname">
<part name="parameters" element="tns:searchByUserSurname"/>
</message>
<message name="searchByUserSurnameResponse">
<part name="parameters" element="tns:searchByUserSurnameResponse"/>
</message>
<message name="searchByUserSurnamePagination">
<part name="parameters" element="tns:searchByUserSurnamePagination"/>
</message>
<message name="searchByUserSurnamePaginationResponse">
<part name="parameters" element="tns:searchByUserSurnamePaginationResponse"/>
</message>
<message name="listInstruments">
<part name="parameters" element="tns:listInstruments"/>
</message>
<message name="listInstrumentsResponse">
<part name="parameters" element="tns:listInstrumentsResponse"/>
</message>
<message name="getAllInstruments">
<part name="parameters" element="tns:getAllInstruments"/>
</message>
<message name="getAllInstrumentsResponse">
<part name="parameters" element="tns:getAllInstrumentsResponse"/>
</message>
<message name="listParameters">
<part name="parameters" element="tns:listParameters"/>
</message>
<message name="listParametersResponse">
<part name="parameters" element="tns:listParametersResponse"/>
</message>
<message name="listRules">
<part name="parameters" element="tns:listRules"/>
</message>
<message name="listRulesResponse">
<part name="parameters" element="tns:listRulesResponse"/>
</message>
<message name="listUserGroups">
<part name="parameters" element="tns:listUserGroups"/>
</message>
<message name="listUserGroupsResponse">
<part name="parameters" element="tns:listUserGroupsResponse"/>
</message>
<message name="listFacilityCycles">
<part name="parameters" element="tns:listFacilityCycles"/>
</message>
<message name="listFacilityCyclesResponse">
<part name="parameters" element="tns:listFacilityCyclesResponse"/>
</message>
<message name="listInvestigationTypes">
<part name="parameters" element="tns:listInvestigationTypes"/>
</message>
<message name="listInvestigationTypesResponse">
<part name="parameters" element="tns:listInvestigationTypesResponse"/>
</message>
<message name="searchSamplesBySampleName">
<part name="parameters" element="tns:searchSamplesBySampleName"/>
</message>
<message name="searchSamplesBySampleNameResponse">
<part name="parameters" element="tns:searchSamplesBySampleNameResponse"/>
</message>
<message name="searchDatasetsBySample">
<part name="parameters" element="tns:searchDatasetsBySample"/>
</message>
<message name="searchDatasetsBySampleResponse">
<part name="parameters" element="tns:searchDatasetsBySampleResponse"/>
</message>
<message name="listDatasetTypes">
<part name="parameters" element="tns:listDatasetTypes"/>
</message>
<message name="listDatasetTypesResponse">
<part name="parameters" element="tns:listDatasetTypesResponse"/>
</message>
<message name="listDatasetStatus">
<part name="parameters" element="tns:listDatasetStatus"/>
</message>
<message name="listDatasetStatusResponse">
<part name="parameters" element="tns:listDatasetStatusResponse"/>
</message>
<message name="searchByRunNumber">
<part name="parameters" element="tns:searchByRunNumber"/>
</message>
<message name="searchByRunNumberResponse">
<part name="parameters" element="tns:searchByRunNumberResponse"/>
</message>
<message name="searchByRunNumberPagination">
<part name="parameters" element="tns:searchByRunNumberPagination"/>
</message>
<message name="searchByRunNumberPaginationResponse">
<part name="parameters" element="tns:searchByRunNumberPaginationResponse"/>
</message>
<message name="listDatafileFormats">
<part name="parameters" element="tns:listDatafileFormats"/>
</message>
<message name="listDatafileFormatsResponse">
<part name="parameters" element="tns:listDatafileFormatsResponse"/>
</message>
<message name="getInvestigation">
<part name="parameters" element="tns:getInvestigation"/>
</message>
<message name="getInvestigationResponse">
<part name="parameters" element="tns:getInvestigationResponse"/>
</message>
<message name="getInvestigationIncludes">
<part name="parameters" element="tns:getInvestigationIncludes"/>
</message>
<message name="getInvestigationIncludesResponse">
<part name="parameters" element="tns:getInvestigationIncludesResponse"/>
</message>
<message name="getInvestigations">
<part name="parameters" element="tns:getInvestigations"/>
</message>
<message name="getInvestigationsResponse">
<part name="parameters" element="tns:getInvestigationsResponse"/>
</message>
<message name="getInvestigationsIncludes">
<part name="parameters" element="tns:getInvestigationsIncludes"/>
</message>
<message name="getInvestigationsIncludesResponse">
<part name="parameters" element="tns:getInvestigationsIncludesResponse"/>
</message>
<message name="getDataset">
<part name="parameters" element="tns:getDataset"/>
</message>
<message name="getDatasetResponse">
<part name="parameters" element="tns:getDatasetResponse"/>
</message>
<message name="getDatasetIncludes">
<part name="parameters" element="tns:getDatasetIncludes"/>
</message>
<message name="getDatasetIncludesResponse">
<part name="parameters" element="tns:getDatasetIncludesResponse"/>
</message>
<message name="getDatasets">
<part name="parameters" element="tns:getDatasets"/>
</message>
<message name="getDatasetsResponse">
<part name="parameters" element="tns:getDatasetsResponse"/>
</message>
<message name="getDatafile">
<part name="parameters" element="tns:getDatafile"/>
</message>
<message name="getDatafileResponse">
<part name="parameters" element="tns:getDatafileResponse"/>
</message>
<message name="getDatafiles">
<part name="parameters" element="tns:getDatafiles"/>
</message>
<message name="getDatafilesResponse">
<part name="parameters" element="tns:getDatafilesResponse"/>
</message>
<message name="ingestMetadata">
<part name="parameters" element="tns:ingestMetadata"/>
</message>
<message name="ingestMetadataResponse">
<part name="parameters" element="tns:ingestMetadataResponse"/>
</message>
<message name="ICATAPIException">
<part name="fault" element="tns:ICATAPIException"/>
</message>
<message name="downloadDatafile">
<part name="parameters" element="tns:downloadDatafile"/>
</message>
<message name="downloadDatafileResponse">
<part name="parameters" element="tns:downloadDatafileResponse"/>
</message>
<message name="downloadDataset">
<part name="parameters" element="tns:downloadDataset"/>
</message>
<message name="downloadDatasetResponse">
<part name="parameters" element="tns:downloadDatasetResponse"/>
</message>
<message name="downloadDatafiles">
<part name="parameters" element="tns:downloadDatafiles"/>
</message>
<message name="downloadDatafilesResponse">
<part name="parameters" element="tns:downloadDatafilesResponse"/>
</message>
<message name="checkDatafileDownloadAccess">
<part name="parameters" element="tns:checkDatafileDownloadAccess"/>
</message>
<message name="checkDatafileDownloadAccessResponse">
<part name="parameters" element="tns:checkDatafileDownloadAccessResponse"/>
</message>
<message name="checkDatasetDownloadAccess">
<part name="parameters" element="tns:checkDatasetDownloadAccess"/>
</message>
<message name="checkDatasetDownloadAccessResponse">
<part name="parameters" element="tns:checkDatasetDownloadAccessResponse"/>
</message>
<message name="getICATAPIVersion">
<part name="parameters" element="tns:getICATAPIVersion"/>
</message>
<message name="getICATAPIVersionResponse">
<part name="parameters" element="tns:getICATAPIVersionResponse"/>
</message>
<message name="getFacilityUserByFacilityUserId">
<part name="parameters" element="tns:getFacilityUserByFacilityUserId"/>
</message>
<message name="getFacilityUserByFacilityUserIdResponse">
<part name="parameters" element="tns:getFacilityUserByFacilityUserIdResponse"/>
</message>
<message name="getFacilityUserByFederalId">
<part name="parameters" element="tns:getFacilityUserByFederalId"/>
</message>
<message name="getFacilityUserByFederalIdResponse">
<part name="parameters" element="tns:getFacilityUserByFederalIdResponse"/>
</message>
<message name="getParameterByNameUnits">
<part name="parameters" element="tns:getParameterByNameUnits"/>
</message>
<message name="getParameterByNameUnitsResponse">
<part name="parameters" element="tns:getParameterByNameUnitsResponse"/>
</message>
<message name="getParameterByName">
<part name="parameters" element="tns:getParameterByName"/>
</message>
<message name="getParameterByNameResponse">
<part name="parameters" element="tns:getParameterByNameResponse"/>
</message>
<message name="getParameterByUnits">
<part name="parameters" element="tns:getParameterByUnits"/>
</message>
<message name="getParameterByUnitsResponse">
<part name="parameters" element="tns:getParameterByUnitsResponse"/>
</message>
<portType name="ICAT">
<operation name="get">
<input wsam:Action="client.icat3.uk/ICAT/getRequest" message="tns:get"/>
<output wsam:Action="client.icat3.uk/ICAT/getResponse" message="tns:getResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/get/Fault/SessionException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/get/Fault/NoSuchObjectFoundException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/get/Fault/InsufficientPrivilegesException"/>
<fault message="tns:BadParameterException" name="BadParameterException" wsam:Action="client.icat3.uk/ICAT/get/Fault/BadParameterException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/get/Fault/IcatInternalException"/>
</operation>
<operation name="delete">
<input wsam:Action="client.icat3.uk/ICAT/deleteRequest" message="tns:delete"/>
<output wsam:Action="client.icat3.uk/ICAT/deleteResponse" message="tns:deleteResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/delete/Fault/SessionException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/delete/Fault/InsufficientPrivilegesException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/delete/Fault/NoSuchObjectFoundException"/>
<fault message="tns:ValidationException" name="ValidationException" wsam:Action="client.icat3.uk/ICAT/delete/Fault/ValidationException"/>
<fault message="tns:ObjectAlreadyExistsException" name="ObjectAlreadyExistsException" wsam:Action="client.icat3.uk/ICAT/delete/Fault/ObjectAlreadyExistsException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/delete/Fault/IcatInternalException"/>
</operation>
<operation name="search">
<input wsam:Action="client.icat3.uk/ICAT/searchRequest" message="tns:search"/>
<output wsam:Action="client.icat3.uk/ICAT/searchResponse" message="tns:searchResponse"/>
<fault message="tns:BadParameterException" name="BadParameterException" wsam:Action="client.icat3.uk/ICAT/search/Fault/BadParameterException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/search/Fault/IcatInternalException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/search/Fault/InsufficientPrivilegesException"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/search/Fault/SessionException"/>
</operation>
<operation name="create">
<input wsam:Action="client.icat3.uk/ICAT/createRequest" message="tns:create"/>
<output wsam:Action="client.icat3.uk/ICAT/createResponse" message="tns:createResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/create/Fault/SessionException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/create/Fault/InsufficientPrivilegesException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/create/Fault/NoSuchObjectFoundException"/>
<fault message="tns:ValidationException" name="ValidationException" wsam:Action="client.icat3.uk/ICAT/create/Fault/ValidationException"/>
<fault message="tns:ObjectAlreadyExistsException" name="ObjectAlreadyExistsException" wsam:Action="client.icat3.uk/ICAT/create/Fault/ObjectAlreadyExistsException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/create/Fault/IcatInternalException"/>
</operation>
<operation name="update">
<input wsam:Action="client.icat3.uk/ICAT/updateRequest" message="tns:update"/>
<output wsam:Action="client.icat3.uk/ICAT/updateResponse" message="tns:updateResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/update/Fault/SessionException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/update/Fault/InsufficientPrivilegesException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/update/Fault/NoSuchObjectFoundException"/>
<fault message="tns:ValidationException" name="ValidationException" wsam:Action="client.icat3.uk/ICAT/update/Fault/ValidationException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/update/Fault/IcatInternalException"/>
</operation>
<operation name="dummy">
<input wsam:Action="client.icat3.uk/ICAT/dummyRequest" message="tns:dummy"/>
<output wsam:Action="client.icat3.uk/ICAT/dummyResponse" message="tns:dummyResponse"/>
</operation>
<operation name="login">
<input wsam:Action="client.icat3.uk/ICAT/loginRequest" message="tns:login"/>
<output wsam:Action="client.icat3.uk/ICAT/loginResponse" message="tns:loginResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/login/Fault/SessionException"/>
</operation>
<operation name="loginLifetime">
<input wsam:Action="client.icat3.uk/ICAT/loginLifetimeRequest" message="tns:loginLifetime"/>
<output wsam:Action="client.icat3.uk/ICAT/loginLifetimeResponse" message="tns:loginLifetimeResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/loginLifetime/Fault/SessionException"/>
</operation>
<operation name="logout">
<input wsam:Action="client.icat3.uk/ICAT/logoutRequest" message="tns:logout"/>
<output wsam:Action="client.icat3.uk/ICAT/logoutResponse" message="tns:logoutResponse"/>
</operation>
<operation name="addRule">
<input wsam:Action="client.icat3.uk/ICAT/addRuleRequest" message="tns:addRule"/>
<output wsam:Action="client.icat3.uk/ICAT/addRuleResponse" message="tns:addRuleResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/addRule/Fault/SessionException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/addRule/Fault/IcatInternalException"/>
<fault message="tns:BadParameterException" name="BadParameterException" wsam:Action="client.icat3.uk/ICAT/addRule/Fault/BadParameterException"/>
</operation>
<operation name="loginAdmin">
<input wsam:Action="client.icat3.uk/ICAT/loginAdminRequest" message="tns:loginAdmin"/>
<output wsam:Action="client.icat3.uk/ICAT/loginAdminResponse" message="tns:loginAdminResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/loginAdmin/Fault/SessionException"/>
</operation>
<operation name="addUserGroupMember">
<input wsam:Action="client.icat3.uk/ICAT/addUserGroupMemberRequest" message="tns:addUserGroupMember"/>
<output wsam:Action="client.icat3.uk/ICAT/addUserGroupMemberResponse" message="tns:addUserGroupMemberResponse"/>
<fault message="tns:ObjectAlreadyExistsException" name="ObjectAlreadyExistsException" wsam:Action="client.icat3.uk/ICAT/addUserGroupMember/Fault/ObjectAlreadyExistsException"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/addUserGroupMember/Fault/SessionException"/>
</operation>
<operation name="removeUserGroupMember">
<input wsam:Action="client.icat3.uk/ICAT/removeUserGroupMemberRequest" message="tns:removeUserGroupMember"/>
<output wsam:Action="client.icat3.uk/ICAT/removeUserGroupMemberResponse" message="tns:removeUserGroupMemberResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/removeUserGroupMember/Fault/SessionException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/removeUserGroupMember/Fault/NoSuchObjectFoundException"/>
</operation>
<operation name="removeRule">
<input wsam:Action="client.icat3.uk/ICAT/removeRuleRequest" message="tns:removeRule"/>
<output wsam:Action="client.icat3.uk/ICAT/removeRuleResponse" message="tns:removeRuleResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/removeRule/Fault/SessionException"/>
<fault message="tns:BadParameterException" name="BadParameterException" wsam:Action="client.icat3.uk/ICAT/removeRule/Fault/BadParameterException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/removeRule/Fault/NoSuchObjectFoundException"/>
</operation>
<operation name="getUserDetails">
<input wsam:Action="client.icat3.uk/ICAT/getUserDetailsRequest" message="tns:getUserDetails"/>
<output wsam:Action="client.icat3.uk/ICAT/getUserDetailsResponse" message="tns:getUserDetailsResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getUserDetails/Fault/SessionException"/>
<fault message="tns:NoSuchUserException" name="NoSuchUserException" wsam:Action="client.icat3.uk/ICAT/getUserDetails/Fault/NoSuchUserException"/>
</operation>
<operation name="isSessionValid">
<input wsam:Action="client.icat3.uk/ICAT/isSessionValidRequest" message="tns:isSessionValid"/>
<output wsam:Action="client.icat3.uk/ICAT/isSessionValidResponse" message="tns:isSessionValidResponse"/>
</operation>
<operation name="getKeywordsForUser">
<input wsam:Action="client.icat3.uk/ICAT/getKeywordsForUserRequest" message="tns:getKeywordsForUser"/>
<output wsam:Action="client.icat3.uk/ICAT/getKeywordsForUserResponse" message="tns:getKeywordsForUserResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getKeywordsForUser/Fault/SessionException"/>
</operation>
<operation name="getKeywordsForUserStartWithMax">
<input wsam:Action="client.icat3.uk/ICAT/getKeywordsForUserStartWithMaxRequest" message="tns:getKeywordsForUserStartWithMax"/>
<output wsam:Action="client.icat3.uk/ICAT/getKeywordsForUserStartWithMaxResponse" message="tns:getKeywordsForUserStartWithMaxResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getKeywordsForUserStartWithMax/Fault/SessionException"/>
</operation>
<operation name="getKeywordsForUserMax">
<input wsam:Action="client.icat3.uk/ICAT/getKeywordsForUserMaxRequest" message="tns:getKeywordsForUserMax"/>
<output wsam:Action="client.icat3.uk/ICAT/getKeywordsForUserMaxResponse" message="tns:getKeywordsForUserMaxResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getKeywordsForUserMax/Fault/SessionException"/>
</operation>
<operation name="getKeywordsForUserType">
<input wsam:Action="client.icat3.uk/ICAT/getKeywordsForUserTypeRequest" message="tns:getKeywordsForUserType"/>
<output wsam:Action="client.icat3.uk/ICAT/getKeywordsForUserTypeResponse" message="tns:getKeywordsForUserTypeResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getKeywordsForUserType/Fault/SessionException"/>
</operation>
<operation name="getAllKeywords">
<input wsam:Action="client.icat3.uk/ICAT/getAllKeywordsRequest" message="tns:getAllKeywords"/>
<output wsam:Action="client.icat3.uk/ICAT/getAllKeywordsResponse" message="tns:getAllKeywordsResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getAllKeywords/Fault/SessionException"/>
</operation>
<operation name="searchByAdvanced">
<input wsam:Action="client.icat3.uk/ICAT/searchByAdvancedRequest" message="tns:searchByAdvanced"/>
<output wsam:Action="client.icat3.uk/ICAT/searchByAdvancedResponse" message="tns:searchByAdvancedResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/searchByAdvanced/Fault/SessionException"/>
</operation>
<operation name="searchByAdvancedPagination">
<input wsam:Action="client.icat3.uk/ICAT/searchByAdvancedPaginationRequest" message="tns:searchByAdvancedPagination"/>
<output wsam:Action="client.icat3.uk/ICAT/searchByAdvancedPaginationResponse" message="tns:searchByAdvancedPaginationResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/searchByAdvancedPagination/Fault/SessionException"/>
</operation>
<operation name="searchByKeywords">
<input wsam:Action="client.icat3.uk/ICAT/searchByKeywordsRequest" message="tns:searchByKeywords"/>
<output wsam:Action="client.icat3.uk/ICAT/searchByKeywordsResponse" message="tns:searchByKeywordsResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/searchByKeywords/Fault/SessionException"/>
</operation>
<operation name="searchByKeywordsAll">
<input wsam:Action="client.icat3.uk/ICAT/searchByKeywordsAllRequest" message="tns:searchByKeywordsAll"/>
<output wsam:Action="client.icat3.uk/ICAT/searchByKeywordsAllResponse" message="tns:searchByKeywordsAllResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/searchByKeywordsAll/Fault/SessionException"/>
</operation>
<operation name="getMyInvestigations">
<input wsam:Action="client.icat3.uk/ICAT/getMyInvestigationsRequest" message="tns:getMyInvestigations"/>
<output wsam:Action="client.icat3.uk/ICAT/getMyInvestigationsResponse" message="tns:getMyInvestigationsResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getMyInvestigations/Fault/SessionException"/>
</operation>
<operation name="getMyInvestigationsIncludes">
<input wsam:Action="client.icat3.uk/ICAT/getMyInvestigationsIncludesRequest" message="tns:getMyInvestigationsIncludes"/>
<output wsam:Action="client.icat3.uk/ICAT/getMyInvestigationsIncludesResponse" message="tns:getMyInvestigationsIncludesResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getMyInvestigationsIncludes/Fault/SessionException"/>
</operation>
<operation name="getMyInvestigationsIncludesPagination">
<input wsam:Action="client.icat3.uk/ICAT/getMyInvestigationsIncludesPaginationRequest" message="tns:getMyInvestigationsIncludesPagination"/>
<output wsam:Action="client.icat3.uk/ICAT/getMyInvestigationsIncludesPaginationResponse" message="tns:getMyInvestigationsIncludesPaginationResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getMyInvestigationsIncludesPagination/Fault/SessionException"/>
</operation>
<operation name="searchByUserID">
<input wsam:Action="client.icat3.uk/ICAT/searchByUserIDRequest" message="tns:searchByUserID"/>
<output wsam:Action="client.icat3.uk/ICAT/searchByUserIDResponse" message="tns:searchByUserIDResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/searchByUserID/Fault/SessionException"/>
</operation>
<operation name="searchByUserIDPagination">
<input wsam:Action="client.icat3.uk/ICAT/searchByUserIDPaginationRequest" message="tns:searchByUserIDPagination"/>
<output wsam:Action="client.icat3.uk/ICAT/searchByUserIDPaginationResponse" message="tns:searchByUserIDPaginationResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/searchByUserIDPagination/Fault/SessionException"/>
</operation>
<operation name="searchByUserSurname">
<input wsam:Action="client.icat3.uk/ICAT/searchByUserSurnameRequest" message="tns:searchByUserSurname"/>
<output wsam:Action="client.icat3.uk/ICAT/searchByUserSurnameResponse" message="tns:searchByUserSurnameResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/searchByUserSurname/Fault/SessionException"/>
</operation>
<operation name="searchByUserSurnamePagination">
<input wsam:Action="client.icat3.uk/ICAT/searchByUserSurnamePaginationRequest" message="tns:searchByUserSurnamePagination"/>
<output wsam:Action="client.icat3.uk/ICAT/searchByUserSurnamePaginationResponse" message="tns:searchByUserSurnamePaginationResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/searchByUserSurnamePagination/Fault/SessionException"/>
</operation>
<operation name="listInstruments">
<input wsam:Action="client.icat3.uk/ICAT/listInstrumentsRequest" message="tns:listInstruments"/>
<output wsam:Action="client.icat3.uk/ICAT/listInstrumentsResponse" message="tns:listInstrumentsResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/listInstruments/Fault/SessionException"/>
</operation>
<operation name="getAllInstruments">
<input wsam:Action="client.icat3.uk/ICAT/getAllInstrumentsRequest" message="tns:getAllInstruments"/>
<output wsam:Action="client.icat3.uk/ICAT/getAllInstrumentsResponse" message="tns:getAllInstrumentsResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getAllInstruments/Fault/SessionException"/>
</operation>
<operation name="listParameters">
<input wsam:Action="client.icat3.uk/ICAT/listParametersRequest" message="tns:listParameters"/>
<output wsam:Action="client.icat3.uk/ICAT/listParametersResponse" message="tns:listParametersResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/listParameters/Fault/SessionException"/>
</operation>
<operation name="listRules">
<input wsam:Action="client.icat3.uk/ICAT/listRulesRequest" message="tns:listRules"/>
<output wsam:Action="client.icat3.uk/ICAT/listRulesResponse" message="tns:listRulesResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/listRules/Fault/SessionException"/>
</operation>
<operation name="listUserGroups">
<input wsam:Action="client.icat3.uk/ICAT/listUserGroupsRequest" message="tns:listUserGroups"/>
<output wsam:Action="client.icat3.uk/ICAT/listUserGroupsResponse" message="tns:listUserGroupsResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/listUserGroups/Fault/SessionException"/>
</operation>
<operation name="listFacilityCycles">
<input wsam:Action="client.icat3.uk/ICAT/listFacilityCyclesRequest" message="tns:listFacilityCycles"/>
<output wsam:Action="client.icat3.uk/ICAT/listFacilityCyclesResponse" message="tns:listFacilityCyclesResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/listFacilityCycles/Fault/SessionException"/>
</operation>
<operation name="listInvestigationTypes">
<input wsam:Action="client.icat3.uk/ICAT/listInvestigationTypesRequest" message="tns:listInvestigationTypes"/>
<output wsam:Action="client.icat3.uk/ICAT/listInvestigationTypesResponse" message="tns:listInvestigationTypesResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/listInvestigationTypes/Fault/SessionException"/>
</operation>
<operation name="searchSamplesBySampleName">
<input wsam:Action="client.icat3.uk/ICAT/searchSamplesBySampleNameRequest" message="tns:searchSamplesBySampleName"/>
<output wsam:Action="client.icat3.uk/ICAT/searchSamplesBySampleNameResponse" message="tns:searchSamplesBySampleNameResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/searchSamplesBySampleName/Fault/SessionException"/>
</operation>
<operation name="searchDatasetsBySample">
<input wsam:Action="client.icat3.uk/ICAT/searchDatasetsBySampleRequest" message="tns:searchDatasetsBySample"/>
<output wsam:Action="client.icat3.uk/ICAT/searchDatasetsBySampleResponse" message="tns:searchDatasetsBySampleResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/searchDatasetsBySample/Fault/SessionException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/searchDatasetsBySample/Fault/NoSuchObjectFoundException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/searchDatasetsBySample/Fault/InsufficientPrivilegesException"/>
</operation>
<operation name="listDatasetTypes">
<input wsam:Action="client.icat3.uk/ICAT/listDatasetTypesRequest" message="tns:listDatasetTypes"/>
<output wsam:Action="client.icat3.uk/ICAT/listDatasetTypesResponse" message="tns:listDatasetTypesResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/listDatasetTypes/Fault/SessionException"/>
</operation>
<operation name="listDatasetStatus">
<input wsam:Action="client.icat3.uk/ICAT/listDatasetStatusRequest" message="tns:listDatasetStatus"/>
<output wsam:Action="client.icat3.uk/ICAT/listDatasetStatusResponse" message="tns:listDatasetStatusResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/listDatasetStatus/Fault/SessionException"/>
</operation>
<operation name="searchByRunNumber">
<input wsam:Action="client.icat3.uk/ICAT/searchByRunNumberRequest" message="tns:searchByRunNumber"/>
<output wsam:Action="client.icat3.uk/ICAT/searchByRunNumberResponse" message="tns:searchByRunNumberResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/searchByRunNumber/Fault/SessionException"/>
</operation>
<operation name="searchByRunNumberPagination">
<input wsam:Action="client.icat3.uk/ICAT/searchByRunNumberPaginationRequest" message="tns:searchByRunNumberPagination"/>
<output wsam:Action="client.icat3.uk/ICAT/searchByRunNumberPaginationResponse" message="tns:searchByRunNumberPaginationResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/searchByRunNumberPagination/Fault/SessionException"/>
</operation>
<operation name="listDatafileFormats">
<input wsam:Action="client.icat3.uk/ICAT/listDatafileFormatsRequest" message="tns:listDatafileFormats"/>
<output wsam:Action="client.icat3.uk/ICAT/listDatafileFormatsResponse" message="tns:listDatafileFormatsResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/listDatafileFormats/Fault/SessionException"/>
</operation>
<operation name="getInvestigation">
<input wsam:Action="client.icat3.uk/ICAT/getInvestigationRequest" message="tns:getInvestigation"/>
<output wsam:Action="client.icat3.uk/ICAT/getInvestigationResponse" message="tns:getInvestigationResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getInvestigation/Fault/SessionException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/getInvestigation/Fault/InsufficientPrivilegesException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/getInvestigation/Fault/NoSuchObjectFoundException"/>
</operation>
<operation name="getInvestigationIncludes">
<input wsam:Action="client.icat3.uk/ICAT/getInvestigationIncludesRequest" message="tns:getInvestigationIncludes"/>
<output wsam:Action="client.icat3.uk/ICAT/getInvestigationIncludesResponse" message="tns:getInvestigationIncludesResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getInvestigationIncludes/Fault/SessionException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/getInvestigationIncludes/Fault/InsufficientPrivilegesException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/getInvestigationIncludes/Fault/NoSuchObjectFoundException"/>
</operation>
<operation name="getInvestigations">
<input wsam:Action="client.icat3.uk/ICAT/getInvestigationsRequest" message="tns:getInvestigations"/>
<output wsam:Action="client.icat3.uk/ICAT/getInvestigationsResponse" message="tns:getInvestigationsResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getInvestigations/Fault/SessionException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/getInvestigations/Fault/InsufficientPrivilegesException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/getInvestigations/Fault/NoSuchObjectFoundException"/>
</operation>
<operation name="getInvestigationsIncludes">
<input wsam:Action="client.icat3.uk/ICAT/getInvestigationsIncludesRequest" message="tns:getInvestigationsIncludes"/>
<output wsam:Action="client.icat3.uk/ICAT/getInvestigationsIncludesResponse" message="tns:getInvestigationsIncludesResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getInvestigationsIncludes/Fault/SessionException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/getInvestigationsIncludes/Fault/InsufficientPrivilegesException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/getInvestigationsIncludes/Fault/NoSuchObjectFoundException"/>
</operation>
<operation name="getDataset">
<input wsam:Action="client.icat3.uk/ICAT/getDatasetRequest" message="tns:getDataset"/>
<output wsam:Action="client.icat3.uk/ICAT/getDatasetResponse" message="tns:getDatasetResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getDataset/Fault/SessionException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/getDataset/Fault/InsufficientPrivilegesException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/getDataset/Fault/NoSuchObjectFoundException"/>
</operation>
<operation name="getDatasetIncludes">
<input wsam:Action="client.icat3.uk/ICAT/getDatasetIncludesRequest" message="tns:getDatasetIncludes"/>
<output wsam:Action="client.icat3.uk/ICAT/getDatasetIncludesResponse" message="tns:getDatasetIncludesResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getDatasetIncludes/Fault/SessionException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/getDatasetIncludes/Fault/InsufficientPrivilegesException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/getDatasetIncludes/Fault/NoSuchObjectFoundException"/>
</operation>
<operation name="getDatasets">
<input wsam:Action="client.icat3.uk/ICAT/getDatasetsRequest" message="tns:getDatasets"/>
<output wsam:Action="client.icat3.uk/ICAT/getDatasetsResponse" message="tns:getDatasetsResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getDatasets/Fault/SessionException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/getDatasets/Fault/InsufficientPrivilegesException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/getDatasets/Fault/NoSuchObjectFoundException"/>
</operation>
<operation name="getDatafile">
<input wsam:Action="client.icat3.uk/ICAT/getDatafileRequest" message="tns:getDatafile"/>
<output wsam:Action="client.icat3.uk/ICAT/getDatafileResponse" message="tns:getDatafileResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getDatafile/Fault/SessionException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/getDatafile/Fault/InsufficientPrivilegesException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/getDatafile/Fault/NoSuchObjectFoundException"/>
</operation>
<operation name="getDatafiles">
<input wsam:Action="client.icat3.uk/ICAT/getDatafilesRequest" message="tns:getDatafiles"/>
<output wsam:Action="client.icat3.uk/ICAT/getDatafilesResponse" message="tns:getDatafilesResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getDatafiles/Fault/SessionException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/getDatafiles/Fault/InsufficientPrivilegesException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/getDatafiles/Fault/NoSuchObjectFoundException"/>
</operation>
<operation name="ingestMetadata">
<input wsam:Action="client.icat3.uk/ICAT/ingestMetadataRequest" message="tns:ingestMetadata"/>
<output wsam:Action="client.icat3.uk/ICAT/ingestMetadataResponse" message="tns:ingestMetadataResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/ingestMetadata/Fault/SessionException"/>
<fault message="tns:ValidationException" name="ValidationException" wsam:Action="client.icat3.uk/ICAT/ingestMetadata/Fault/ValidationException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/ingestMetadata/Fault/InsufficientPrivilegesException"/>
<fault message="tns:ICATAPIException" name="ICATAPIException" wsam:Action="client.icat3.uk/ICAT/ingestMetadata/Fault/ICATAPIException"/>
</operation>
<operation name="downloadDatafile">
<input wsam:Action="client.icat3.uk/ICAT/downloadDatafileRequest" message="tns:downloadDatafile"/>
<output wsam:Action="client.icat3.uk/ICAT/downloadDatafileResponse" message="tns:downloadDatafileResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/downloadDatafile/Fault/SessionException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/downloadDatafile/Fault/NoSuchObjectFoundException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/downloadDatafile/Fault/InsufficientPrivilegesException"/>
</operation>
<operation name="downloadDataset">
<input wsam:Action="client.icat3.uk/ICAT/downloadDatasetRequest" message="tns:downloadDataset"/>
<output wsam:Action="client.icat3.uk/ICAT/downloadDatasetResponse" message="tns:downloadDatasetResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/downloadDataset/Fault/SessionException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/downloadDataset/Fault/NoSuchObjectFoundException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/downloadDataset/Fault/InsufficientPrivilegesException"/>
</operation>
<operation name="downloadDatafiles">
<input wsam:Action="client.icat3.uk/ICAT/downloadDatafilesRequest" message="tns:downloadDatafiles"/>
<output wsam:Action="client.icat3.uk/ICAT/downloadDatafilesResponse" message="tns:downloadDatafilesResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/downloadDatafiles/Fault/SessionException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/downloadDatafiles/Fault/NoSuchObjectFoundException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/downloadDatafiles/Fault/InsufficientPrivilegesException"/>
</operation>
<operation name="checkDatafileDownloadAccess">
<input wsam:Action="client.icat3.uk/ICAT/checkDatafileDownloadAccessRequest" message="tns:checkDatafileDownloadAccess"/>
<output wsam:Action="client.icat3.uk/ICAT/checkDatafileDownloadAccessResponse" message="tns:checkDatafileDownloadAccessResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/checkDatafileDownloadAccess/Fault/SessionException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/checkDatafileDownloadAccess/Fault/NoSuchObjectFoundException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/checkDatafileDownloadAccess/Fault/InsufficientPrivilegesException"/>
</operation>
<operation name="checkDatasetDownloadAccess">
<input wsam:Action="client.icat3.uk/ICAT/checkDatasetDownloadAccessRequest" message="tns:checkDatasetDownloadAccess"/>
<output wsam:Action="client.icat3.uk/ICAT/checkDatasetDownloadAccessResponse" message="tns:checkDatasetDownloadAccessResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/checkDatasetDownloadAccess/Fault/SessionException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/checkDatasetDownloadAccess/Fault/NoSuchObjectFoundException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/checkDatasetDownloadAccess/Fault/InsufficientPrivilegesException"/>
</operation>
<operation name="getICATAPIVersion">
<input wsam:Action="client.icat3.uk/ICAT/getICATAPIVersionRequest" message="tns:getICATAPIVersion"/>
<output wsam:Action="client.icat3.uk/ICAT/getICATAPIVersionResponse" message="tns:getICATAPIVersionResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getICATAPIVersion/Fault/SessionException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/getICATAPIVersion/Fault/InsufficientPrivilegesException"/>
</operation>
<operation name="getFacilityUserByFacilityUserId">
<input wsam:Action="client.icat3.uk/ICAT/getFacilityUserByFacilityUserIdRequest" message="tns:getFacilityUserByFacilityUserId"/>
<output wsam:Action="client.icat3.uk/ICAT/getFacilityUserByFacilityUserIdResponse" message="tns:getFacilityUserByFacilityUserIdResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getFacilityUserByFacilityUserId/Fault/SessionException"/>
</operation>
<operation name="getFacilityUserByFederalId">
<input wsam:Action="client.icat3.uk/ICAT/getFacilityUserByFederalIdRequest" message="tns:getFacilityUserByFederalId"/>
<output wsam:Action="client.icat3.uk/ICAT/getFacilityUserByFederalIdResponse" message="tns:getFacilityUserByFederalIdResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getFacilityUserByFederalId/Fault/SessionException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/getFacilityUserByFederalId/Fault/NoSuchObjectFoundException"/>
</operation>
<operation name="getParameterByNameUnits">
<input wsam:Action="client.icat3.uk/ICAT/getParameterByNameUnitsRequest" message="tns:getParameterByNameUnits"/>
<output wsam:Action="client.icat3.uk/ICAT/getParameterByNameUnitsResponse" message="tns:getParameterByNameUnitsResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getParameterByNameUnits/Fault/SessionException"/>
</operation>
<operation name="getParameterByName">
<input wsam:Action="client.icat3.uk/ICAT/getParameterByNameRequest" message="tns:getParameterByName"/>
<output wsam:Action="client.icat3.uk/ICAT/getParameterByNameResponse" message="tns:getParameterByNameResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getParameterByName/Fault/SessionException"/>
</operation>
<operation name="getParameterByUnits">
<input wsam:Action="client.icat3.uk/ICAT/getParameterByUnitsRequest" message="tns:getParameterByUnits"/>
<output wsam:Action="client.icat3.uk/ICAT/getParameterByUnitsResponse" message="tns:getParameterByUnitsResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getParameterByUnits/Fault/SessionException"/>
</operation>
</portType>
<binding name="ICATPortBinding" type="tns:ICAT">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="get">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="BadParameterException">
<soap:fault name="BadParameterException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
<fault name="ValidationException">
<soap:fault name="ValidationException" use="literal"/>
</fault>
<fault name="ObjectAlreadyExistsException">
<soap:fault name="ObjectAlreadyExistsException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
</operation>
<operation name="search">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BadParameterException">
<soap:fault name="BadParameterException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
<fault name="ValidationException">
<soap:fault name="ValidationException" use="literal"/>
</fault>
<fault name="ObjectAlreadyExistsException">
<soap:fault name="ObjectAlreadyExistsException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
<fault name="ValidationException">
<soap:fault name="ValidationException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
</operation>
<operation name="dummy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="loginLifetime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addRule">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
<fault name="BadParameterException">
<soap:fault name="BadParameterException" use="literal"/>
</fault>
</operation>
<operation name="loginAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="addUserGroupMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ObjectAlreadyExistsException">
<soap:fault name="ObjectAlreadyExistsException" use="literal"/>
</fault>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="removeUserGroupMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
</operation>
<operation name="removeRule">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="BadParameterException">
<soap:fault name="BadParameterException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
</operation>
<operation name="getUserDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="NoSuchUserException">
<soap:fault name="NoSuchUserException" use="literal"/>
</fault>
</operation>
<operation name="isSessionValid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getKeywordsForUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="getKeywordsForUserStartWithMax">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="getKeywordsForUserMax">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="getKeywordsForUserType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="getAllKeywords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="searchByAdvanced">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="searchByAdvancedPagination">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="searchByKeywords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="searchByKeywordsAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="getMyInvestigations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="getMyInvestigationsIncludes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="getMyInvestigationsIncludesPagination">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="searchByUserID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="searchByUserIDPagination">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="searchByUserSurname">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="searchByUserSurnamePagination">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="listInstruments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="getAllInstruments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="listParameters">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="listRules">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="listUserGroups">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="listFacilityCycles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="listInvestigationTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="searchSamplesBySampleName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="searchDatasetsBySample">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
</operation>
<operation name="listDatasetTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="listDatasetStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="searchByRunNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="searchByRunNumberPagination">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="listDatafileFormats">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="getInvestigation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
</operation>
<operation name="getInvestigationIncludes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
</operation>
<operation name="getInvestigations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
</operation>
<operation name="getInvestigationsIncludes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
</operation>
<operation name="getDataset">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
</operation>
<operation name="getDatasetIncludes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
</operation>
<operation name="getDatasets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
</operation>
<operation name="getDatafile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
</operation>
<operation name="getDatafiles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
</operation>
<operation name="ingestMetadata">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="ValidationException">
<soap:fault name="ValidationException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="ICATAPIException">
<soap:fault name="ICATAPIException" use="literal"/>
</fault>
</operation>
<operation name="downloadDatafile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
</operation>
<operation name="downloadDataset">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
</operation>
<operation name="downloadDatafiles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
</operation>
<operation name="checkDatafileDownloadAccess">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
</operation>
<operation name="checkDatasetDownloadAccess">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
</operation>
<operation name="getICATAPIVersion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
</operation>
<operation name="getFacilityUserByFacilityUserId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="getFacilityUserByFederalId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
</operation>
<operation name="getParameterByNameUnits">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="getParameterByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="getParameterByUnits">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ICATService">
<port name="ICATPort" binding="tns:ICATPortBinding">
<soap:address location="https://astra-gemini.esc.rl.ac.uk:8181/ICATService/ICAT"/>
</port>
</service>
</definitions>