Code/TopCATCore/src/wsdl/ICAT400/ICATService/ICAT.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="client.icat3.uk" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="client.icat3.uk">

<xs:element name="BadParameterException" type="tns:BadParameterException"/>

<xs:element name="ICATAPIException" type="tns:ICATAPIException"/>

<xs:element name="IcatInternalException" type="tns:IcatInternalException"/>

<xs:element name="InsufficientPrivilegesException" type="tns:InsufficientPrivilegesException"/>

<xs:element name="NoSuchObjectFoundException" type="tns:NoSuchObjectFoundException"/>

<xs:element name="NoSuchUserException" type="tns:NoSuchUserException"/>

<xs:element name="ObjectAlreadyExistsException" type="tns:ObjectAlreadyExistsException"/>

<xs:element name="SessionException" type="tns:SessionException"/>

<xs:element name="ValidationException" type="tns:ValidationException"/>

<xs:element name="addRule" type="tns:addRule"/>

<xs:element name="addRuleResponse" type="tns:addRuleResponse"/>

<xs:element name="addUserGroupMember" type="tns:addUserGroupMember"/>

<xs:element name="addUserGroupMemberResponse" type="tns:addUserGroupMemberResponse"/>

<xs:element name="checkDatafileDownloadAccess" type="tns:checkDatafileDownloadAccess"/>

<xs:element name="checkDatafileDownloadAccessResponse" type="tns:checkDatafileDownloadAccessResponse"/>

<xs:element name="checkDatasetDownloadAccess" type="tns:checkDatasetDownloadAccess"/>

<xs:element name="checkDatasetDownloadAccessResponse" type="tns:checkDatasetDownloadAccessResponse"/>

<xs:element name="create" type="tns:create"/>

<xs:element name="createResponse" type="tns:createResponse"/>

<xs:element name="datafile" type="tns:datafile"/>

<xs:element name="datafileParameter" type="tns:datafileParameter"/>

<xs:element name="dataset" type="tns:dataset"/>

<xs:element name="delete" type="tns:delete"/>

<xs:element name="deleteResponse" type="tns:deleteResponse"/>

<xs:element name="downloadDatafile" type="tns:downloadDatafile"/>

<xs:element name="downloadDatafileResponse" type="tns:downloadDatafileResponse"/>

<xs:element name="downloadDatafiles" type="tns:downloadDatafiles"/>

<xs:element name="downloadDatafilesResponse" type="tns:downloadDatafilesResponse"/>

<xs:element name="downloadDataset" type="tns:downloadDataset"/>

<xs:element name="downloadDatasetResponse" type="tns:downloadDatasetResponse"/>

<xs:element name="dummy" type="tns:dummy"/>

<xs:element name="dummyResponse" type="tns:dummyResponse"/>

<xs:element name="facilityUser" type="tns:facilityUser"/>

<xs:element name="get" type="tns:get"/>

<xs:element name="getAllInstruments" type="tns:getAllInstruments"/>

<xs:element name="getAllInstrumentsResponse" type="tns:getAllInstrumentsResponse"/>

<xs:element name="getAllKeywords" type="tns:getAllKeywords"/>

<xs:element name="getAllKeywordsResponse" type="tns:getAllKeywordsResponse"/>

<xs:element name="getDatafile" type="tns:getDatafile"/>

<xs:element name="getDatafileResponse" type="tns:getDatafileResponse"/>

<xs:element name="getDatafiles" type="tns:getDatafiles"/>

<xs:element name="getDatafilesResponse" type="tns:getDatafilesResponse"/>

<xs:element name="getDataset" type="tns:getDataset"/>

<xs:element name="getDatasetIncludes" type="tns:getDatasetIncludes"/>

<xs:element name="getDatasetIncludesResponse" type="tns:getDatasetIncludesResponse"/>

<xs:element name="getDatasetResponse" type="tns:getDatasetResponse"/>

<xs:element name="getDatasets" type="tns:getDatasets"/>

<xs:element name="getDatasetsResponse" type="tns:getDatasetsResponse"/>

<xs:element name="getFacilityUserByFacilityUserId" type="tns:getFacilityUserByFacilityUserId"/>

<xs:element name="getFacilityUserByFacilityUserIdResponse" type="tns:getFacilityUserByFacilityUserIdResponse"/>

<xs:element name="getFacilityUserByFederalId" type="tns:getFacilityUserByFederalId"/>

<xs:element name="getFacilityUserByFederalIdResponse" type="tns:getFacilityUserByFederalIdResponse"/>

<xs:element name="getICATAPIVersion" type="tns:getICATAPIVersion"/>

<xs:element name="getICATAPIVersionResponse" type="tns:getICATAPIVersionResponse"/>

<xs:element name="getInvestigation" type="tns:getInvestigation"/>

<xs:element name="getInvestigationIncludes" type="tns:getInvestigationIncludes"/>

<xs:element name="getInvestigationIncludesResponse" type="tns:getInvestigationIncludesResponse"/>

<xs:element name="getInvestigationResponse" type="tns:getInvestigationResponse"/>

<xs:element name="getInvestigations" type="tns:getInvestigations"/>

<xs:element name="getInvestigationsIncludes" type="tns:getInvestigationsIncludes"/>

<xs:element name="getInvestigationsIncludesResponse" type="tns:getInvestigationsIncludesResponse"/>

<xs:element name="getInvestigationsResponse" type="tns:getInvestigationsResponse"/>

<xs:element name="getKeywordsForUser" type="tns:getKeywordsForUser"/>

<xs:element name="getKeywordsForUserMax" type="tns:getKeywordsForUserMax"/>

<xs:element name="getKeywordsForUserMaxResponse" type="tns:getKeywordsForUserMaxResponse"/>

<xs:element name="getKeywordsForUserResponse" type="tns:getKeywordsForUserResponse"/>

<xs:element name="getKeywordsForUserStartWithMax" type="tns:getKeywordsForUserStartWithMax"/>

<xs:element name="getKeywordsForUserStartWithMaxResponse" type="tns:getKeywordsForUserStartWithMaxResponse"/>

<xs:element name="getKeywordsForUserType" type="tns:getKeywordsForUserType"/>

<xs:element name="getKeywordsForUserTypeResponse" type="tns:getKeywordsForUserTypeResponse"/>

<xs:element name="getMyInvestigations" type="tns:getMyInvestigations"/>

<xs:element name="getMyInvestigationsIncludes" type="tns:getMyInvestigationsIncludes"/>

<xs:element name="getMyInvestigationsIncludesPagination" type="tns:getMyInvestigationsIncludesPagination"/>

<xs:element name="getMyInvestigationsIncludesPaginationResponse" type="tns:getMyInvestigationsIncludesPaginationResponse"/>

<xs:element name="getMyInvestigationsIncludesResponse" type="tns:getMyInvestigationsIncludesResponse"/>

<xs:element name="getMyInvestigationsResponse" type="tns:getMyInvestigationsResponse"/>

<xs:element name="getParameterByName" type="tns:getParameterByName"/>

<xs:element name="getParameterByNameResponse" type="tns:getParameterByNameResponse"/>

<xs:element name="getParameterByNameUnits" type="tns:getParameterByNameUnits"/>

<xs:element name="getParameterByNameUnitsResponse" type="tns:getParameterByNameUnitsResponse"/>

<xs:element name="getParameterByUnits" type="tns:getParameterByUnits"/>

<xs:element name="getParameterByUnitsResponse" type="tns:getParameterByUnitsResponse"/>

<xs:element name="getResponse" type="tns:getResponse"/>

<xs:element name="getUserDetails" type="tns:getUserDetails"/>

<xs:element name="getUserDetailsResponse" type="tns:getUserDetailsResponse"/>

<xs:element name="ingestMetadata" type="tns:ingestMetadata"/>

<xs:element name="ingestMetadataResponse" type="tns:ingestMetadataResponse"/>

<xs:element name="investigation" type="tns:investigation"/>

<xs:element name="investigator" type="tns:investigator"/>

<xs:element name="isSessionValid" type="tns:isSessionValid"/>

<xs:element name="isSessionValidResponse" type="tns:isSessionValidResponse"/>

<xs:element name="listDatafileFormats" type="tns:listDatafileFormats"/>

<xs:element name="listDatafileFormatsResponse" type="tns:listDatafileFormatsResponse"/>

<xs:element name="listDatasetStatus" type="tns:listDatasetStatus"/>

<xs:element name="listDatasetStatusResponse" type="tns:listDatasetStatusResponse"/>

<xs:element name="listDatasetTypes" type="tns:listDatasetTypes"/>

<xs:element name="listDatasetTypesResponse" type="tns:listDatasetTypesResponse"/>

<xs:element name="listFacilityCycles" type="tns:listFacilityCycles"/>

<xs:element name="listFacilityCyclesResponse" type="tns:listFacilityCyclesResponse"/>

<xs:element name="listInstruments" type="tns:listInstruments"/>

<xs:element name="listInstrumentsResponse" type="tns:listInstrumentsResponse"/>

<xs:element name="listInvestigationTypes" type="tns:listInvestigationTypes"/>

<xs:element name="listInvestigationTypesResponse" type="tns:listInvestigationTypesResponse"/>

<xs:element name="listParameters" type="tns:listParameters"/>

<xs:element name="listParametersResponse" type="tns:listParametersResponse"/>

<xs:element name="listRules" type="tns:listRules"/>

<xs:element name="listRulesResponse" type="tns:listRulesResponse"/>

<xs:element name="listUserGroups" type="tns:listUserGroups"/>

<xs:element name="listUserGroupsResponse" type="tns:listUserGroupsResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginAdmin" type="tns:loginAdmin"/>

<xs:element name="loginAdminResponse" type="tns:loginAdminResponse"/>

<xs:element name="loginLifetime" type="tns:loginLifetime"/>

<xs:element name="loginLifetimeResponse" type="tns:loginLifetimeResponse"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="logout" type="tns:logout"/>

<xs:element name="logoutResponse" type="tns:logoutResponse"/>

<xs:element name="removeRule" type="tns:removeRule"/>

<xs:element name="removeRuleResponse" type="tns:removeRuleResponse"/>

<xs:element name="removeUserGroupMember" type="tns:removeUserGroupMember"/>

<xs:element name="removeUserGroupMemberResponse" type="tns:removeUserGroupMemberResponse"/>

<xs:element name="rule" type="tns:rule"/>

<xs:element name="search" type="tns:search"/>

<xs:element name="searchByAdvanced" type="tns:searchByAdvanced"/>

<xs:element name="searchByAdvancedPagination" type="tns:searchByAdvancedPagination"/>

<xs:element name="searchByAdvancedPaginationResponse" type="tns:searchByAdvancedPaginationResponse"/>

<xs:element name="searchByAdvancedResponse" type="tns:searchByAdvancedResponse"/>

<xs:element name="searchByKeywords" type="tns:searchByKeywords"/>

<xs:element name="searchByKeywordsAll" type="tns:searchByKeywordsAll"/>

<xs:element name="searchByKeywordsAllResponse" type="tns:searchByKeywordsAllResponse"/>

<xs:element name="searchByKeywordsResponse" type="tns:searchByKeywordsResponse"/>

<xs:element name="searchByRunNumber" type="tns:searchByRunNumber"/>

<xs:element name="searchByRunNumberPagination" type="tns:searchByRunNumberPagination"/>

<xs:element name="searchByRunNumberPaginationResponse" type="tns:searchByRunNumberPaginationResponse"/>

<xs:element name="searchByRunNumberResponse" type="tns:searchByRunNumberResponse"/>

<xs:element name="searchByUserID" type="tns:searchByUserID"/>

<xs:element name="searchByUserIDPagination" type="tns:searchByUserIDPagination"/>

<xs:element name="searchByUserIDPaginationResponse" type="tns:searchByUserIDPaginationResponse"/>

<xs:element name="searchByUserIDResponse" type="tns:searchByUserIDResponse"/>

<xs:element name="searchByUserSurname" type="tns:searchByUserSurname"/>

<xs:element name="searchByUserSurnamePagination" type="tns:searchByUserSurnamePagination"/>

<xs:element name="searchByUserSurnamePaginationResponse" type="tns:searchByUserSurnamePaginationResponse"/>

<xs:element name="searchByUserSurnameResponse" type="tns:searchByUserSurnameResponse"/>

<xs:element name="searchDatasetsBySample" type="tns:searchDatasetsBySample"/>

<xs:element name="searchDatasetsBySampleResponse" type="tns:searchDatasetsBySampleResponse"/>

<xs:element name="searchResponse" type="tns:searchResponse"/>

<xs:element name="searchSamplesBySampleName" type="tns:searchSamplesBySampleName"/>

<xs:element name="searchSamplesBySampleNameResponse" type="tns:searchSamplesBySampleNameResponse"/>

<xs:element name="update" type="tns:update"/>

<xs:element name="updateResponse" type="tns:updateResponse"/>

<xs:element name="userGroup" type="tns:userGroup"/>

<xs:complexType name="listUserGroups">
<xs:sequence>

<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listUserGroupsResponse">
<xs:sequence>
<xs:element name="return" type="tns:userGroup" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userGroup">
<xs:sequence>
<xs:element name="modTime" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SessionException">

<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="update">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="bean" type="tns:entityBaseBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="entityBaseBean" abstract="true">
<xs:sequence>
<xs:element name="modTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="createTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="createId" type="xs:string" minOccurs="0"/>

<xs:element name="modId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="InsufficientPrivilegesException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoSuchObjectFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>

</xs:sequence>
</xs:complexType>

<xs:complexType name="ValidationException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IcatInternalException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listDatasetTypes">
<xs:sequence>

<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listDatasetTypesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isSessionValid">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isSessionValidResponse">

<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatafiles">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datafileIds" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatafilesResponse">
<xs:sequence>
<xs:element name="return" type="tns:datafile" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datafile">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="checksum" type="xs:string" minOccurs="0"/>
<xs:element name="command" type="xs:string" minOccurs="0"/>
<xs:element name="datafileCreateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datafileFormat" type="tns:datafileFormat" minOccurs="0"/>
<xs:element name="datafileInclude" type="tns:datafileInclude" minOccurs="0"/>
<xs:element name="datafileModifyTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datafileParameterCollection" type="tns:datafileParameter" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="datafileVersion" type="xs:string" minOccurs="0"/>
<xs:element name="datafileVersionComment" type="xs:string" minOccurs="0"/>
<xs:element name="datasetId" type="xs:long" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="fileSize" type="xs:int" minOccurs="0"/>

<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="relatedDatafilesCollection1" type="tns:relatedDatafiles" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="relatedDatafilesCollection" type="tns:relatedDatafiles" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="signature" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datafileFormat">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datafileFormatPK" type="tns:datafileFormatPK" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>

<xs:element name="formatType" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datafileFormatPK">
<xs:complexContent>
<xs:extension base="tns:entityPrimaryKeyBaseBean">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="version" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="entityPrimaryKeyBaseBean" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="datafileParameter">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datafileParameterPK" type="tns:datafileParameterPK" minOccurs="0"/>
<xs:element name="dateTimeValue" type="xs:dateTime" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="error" type="xs:string" minOccurs="0"/>
<xs:element name="numericValue" type="xs:double" minOccurs="0"/>
<xs:element name="rangeBottom" type="xs:string" minOccurs="0"/>
<xs:element name="rangeTop" type="xs:string" minOccurs="0"/>
<xs:element name="stringValue" type="xs:string" minOccurs="0"/>
<xs:element name="valueType" type="tns:parameterValueType" minOccurs="0"/>

</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datafileParameterPK">
<xs:complexContent>
<xs:extension base="tns:entityPrimaryKeyBaseBean">
<xs:sequence>
<xs:element name="datafileId" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="units" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="relatedDatafiles">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="relatedDatafilesPK" type="tns:relatedDatafilesPK" minOccurs="0"/>
<xs:element name="relation" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="relatedDatafilesPK">
<xs:complexContent>
<xs:extension base="tns:entityPrimaryKeyBaseBean">
<xs:sequence>
<xs:element name="destDatafileId" type="xs:long" minOccurs="0"/>
<xs:element name="sourceDatafileId" type="xs:long" minOccurs="0"/>

</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getICATAPIVersion">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getICATAPIVersionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchSamplesBySampleName">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="sampleName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchSamplesBySampleNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:sample" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sample">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>

<xs:element name="chemicalFormula" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="instance" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="proposalSampleId" type="xs:int" minOccurs="0"/>
<xs:element name="safetyInformation" type="xs:string" minOccurs="0"/>
<xs:element name="sampleParameterCollection" type="tns:sampleParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="sampleParameter">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="dateTimeValue" type="xs:dateTime" minOccurs="0"/>

<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="error" type="xs:string" minOccurs="0"/>
<xs:element name="numericValue" type="xs:double" minOccurs="0"/>
<xs:element name="rangeBottom" type="xs:string" minOccurs="0"/>
<xs:element name="rangeTop" type="xs:string" minOccurs="0"/>
<xs:element name="sampleParameterPK" type="tns:sampleParameterPK" minOccurs="0"/>
<xs:element name="stringValue" type="xs:string" minOccurs="0"/>
<xs:element name="valueType" type="tns:parameterValueType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="sampleParameterPK">
<xs:complexContent>
<xs:extension base="tns:entityPrimaryKeyBaseBean">
<xs:sequence>

<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="sampleId" type="xs:long" minOccurs="0"/>
<xs:element name="units" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="listInstruments">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listInstrumentsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>

</xs:sequence>
</xs:complexType>

<xs:complexType name="removeRule">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeRuleResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="BadParameterException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>

</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadDatafile">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datafileId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadDatafileResponse">
<xs:sequence>
<xs:element name="URL" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParameterByName">

<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParameterByNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:parameter" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="parameter">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datafileParameter" type="xs:boolean"/>

<xs:element name="datasetParameter" type="xs:boolean"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="nonNumericValueFormat" type="xs:string" minOccurs="0"/>
<xs:element name="parameterPK" type="tns:parameterPK" minOccurs="0"/>
<xs:element name="sampleParameter" type="xs:boolean"/>
<xs:element name="unitsLongVersion" type="xs:string" minOccurs="0"/>
<xs:element name="valueType" type="tns:parameterValueType" minOccurs="0"/>
<xs:element name="verified" type="xs:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="parameterPK">
<xs:complexContent>
<xs:extension base="tns:entityPrimaryKeyBaseBean">
<xs:sequence>

<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="units" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getKeywordsForUserType">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="keywordType" type="tns:keywordType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getKeywordsForUserTypeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>

</xs:sequence>
</xs:complexType>

<xs:complexType name="getKeywordsForUserMax">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="numberReturned" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getKeywordsForUserMaxResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getKeywordsForUserStartWithMax">

<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="startKeyword" type="xs:string" minOccurs="0"/>
<xs:element name="numberReturned" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getKeywordsForUserStartWithMaxResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getKeywordsForUser">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>

</xs:complexType>

<xs:complexType name="getKeywordsForUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="delete">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="bean" type="tns:entityBaseBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteResponse">
<xs:sequence/>

</xs:complexType>

<xs:complexType name="ObjectAlreadyExistsException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParameterByNameUnits">
<xs:sequence>
<xs:element name="sesssionId" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="units" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParameterByNameUnitsResponse">

<xs:sequence>
<xs:element name="return" type="tns:parameter" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listInvestigationTypes">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listInvestigationTypesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addRule">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="groupName" type="xs:string" minOccurs="0"/>
<xs:element name="what" type="xs:string" minOccurs="0"/>
<xs:element name="crud" type="xs:string" minOccurs="0"/>
<xs:element name="restriction" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addRuleResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUserGroupMember">

<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="groupName" type="xs:string" minOccurs="0"/>
<xs:element name="memberName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUserGroupMemberResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listFacilityCycles">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listFacilityCyclesResponse">
<xs:sequence>
<xs:element name="return" type="tns:facilityCycle" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="facilityCycle">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="finishDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>

</xs:complexType>

<xs:complexType name="logout">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logoutResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listDatasetStatus">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>

</xs:sequence>
</xs:complexType>

<xs:complexType name="listDatasetStatusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadDataset">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datasetId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadDatasetResponse">

<xs:sequence>
<xs:element name="URL" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFacilityUserByFederalId">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="federalId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFacilityUserByFederalIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:facilityUser" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="facilityUser">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="facilityUserId" type="xs:string" minOccurs="0"/>
<xs:element name="federalId" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="initials" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="middleName" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="loginAdmin">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="runAsUserFedId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByRunNumber">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="instruments" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>

<xs:element name="startRun" type="xs:float"/>
<xs:element name="endRun" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByRunNumberResponse">
<xs:sequence>
<xs:element name="return" type="tns:datafile" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByRunNumberPagination">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="instruments" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="startRun" type="xs:float"/>
<xs:element name="endRun" type="xs:float"/>

<xs:element name="startIndex" type="xs:int"/>
<xs:element name="numberOfResults" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByRunNumberPaginationResponse">
<xs:sequence>
<xs:element name="return" type="tns:datafile" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeUserGroupMember">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="groupName" type="xs:string" minOccurs="0"/>
<xs:element name="memberName" type="xs:string" minOccurs="0"/>
</xs:sequence>

</xs:complexType>

<xs:complexType name="removeUserGroupMemberResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllKeywords">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="tns:keywordType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllKeywordsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>

</xs:complexType>

<xs:complexType name="searchByAdvancedPagination">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="advancedSearchDetails" type="tns:advancedSearchDetails" minOccurs="0"/>
<xs:element name="startIndex" type="xs:int"/>
<xs:element name="numberOfResults" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="advancedSearchDetails">
<xs:sequence>
<xs:element name="backCatalogueInvestigatorString" type="xs:string" minOccurs="0"/>
<xs:element name="caseSensitive" type="xs:boolean"/>
<xs:element name="datafileName" type="xs:string" minOccurs="0"/>
<xs:element name="dateRangeEnd" type="xs:dateTime" minOccurs="0"/>

<xs:element name="dateRangeStart" type="xs:dateTime" minOccurs="0"/>
<xs:element name="experimentNumber" type="xs:string" minOccurs="0"/>
<xs:element name="grantId" type="xs:long" minOccurs="0"/>
<xs:element name="instruments" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="investigationAbstract" type="xs:string" minOccurs="0"/>
<xs:element name="investigationInclude" type="tns:investigationInclude" minOccurs="0"/>
<xs:element name="investigationName" type="xs:string" minOccurs="0"/>
<xs:element name="investigationType" type="xs:string" minOccurs="0"/>
<xs:element name="investigators" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="keywords" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="runEnd" type="xs:double" minOccurs="0"/>
<xs:element name="runStart" type="xs:double" minOccurs="0"/>
<xs:element name="sampleName" type="xs:string" minOccurs="0"/>
<xs:element name="visitId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByAdvancedPaginationResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="investigation">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="bcatInvStr" type="xs:string" minOccurs="0"/>
<xs:element name="datasetCollection" type="tns:dataset" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="facility" type="xs:string" minOccurs="0"/>
<xs:element name="facilityCycle" type="tns:facilityCycle" minOccurs="0"/>
<xs:element name="grantId" type="xs:long" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="instrument" type="xs:string" minOccurs="0"/>

<xs:element name="invAbstract" type="xs:string" minOccurs="0"/>
<xs:element name="invEndDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="invNumber" type="xs:string" minOccurs="0"/>
<xs:element name="invParamName" type="xs:string" minOccurs="0"/>
<xs:element name="invParamValue" type="xs:string" minOccurs="0"/>
<xs:element name="invStartDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="invType" type="xs:string" minOccurs="0"/>
<xs:element name="investigatorCollection" type="tns:investigator" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="keywordCollection" type="tns:keyword" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="prevInvNumber" type="xs:string" minOccurs="0"/>
<xs:element name="publicationCollection" type="tns:publication" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="releaseDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="sampleCollection" type="tns:sample" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="shiftCollection" type="tns:shift" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="visitId" type="xs:string" minOccurs="0"/>
</xs:sequence>

</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dataset">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datafileCollection" type="tns:datafile" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="datasetParameterCollection" type="tns:datasetParameter" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="datasetStatus" type="xs:string" minOccurs="0"/>
<xs:element name="datasetType" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="investigationId" type="xs:long" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>

<xs:element name="sampleId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datasetParameter">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datasetParameterPK" type="tns:datasetParameterPK" minOccurs="0"/>
<xs:element name="dateTimeValue" type="xs:dateTime" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="error" type="xs:string" minOccurs="0"/>
<xs:element name="numericValue" type="xs:double" minOccurs="0"/>
<xs:element name="parameter" type="tns:parameter" minOccurs="0"/>
<xs:element name="rangeBottom" type="xs:string" minOccurs="0"/>

<xs:element name="rangeTop" type="xs:string" minOccurs="0"/>
<xs:element name="stringValue" type="xs:string" minOccurs="0"/>
<xs:element name="valueType" type="tns:parameterValueType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datasetParameterPK">
<xs:complexContent>
<xs:extension base="tns:entityPrimaryKeyBaseBean">
<xs:sequence>
<xs:element name="datasetId" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="units" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>

<xs:complexType name="investigator">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="investigatorPK" type="tns:investigatorPK" minOccurs="0"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="investigatorPK">
<xs:complexContent>
<xs:extension base="tns:entityPrimaryKeyBaseBean">

<xs:sequence>
<xs:element name="facilityUserId" type="xs:string" minOccurs="0"/>
<xs:element name="investigationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="keyword">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="keywordPK" type="tns:keywordPK" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="keywordPK">
<xs:complexContent>
<xs:extension base="tns:entityPrimaryKeyBaseBean">
<xs:sequence>
<xs:element name="investigationId" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="publication">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="fullReference" type="xs:string" minOccurs="0"/>

<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="repository" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryId" type="xs:string" minOccurs="0"/>
<xs:element name="url" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="shift">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="shiftComment" type="xs:string" minOccurs="0"/>
<xs:element name="shiftPK" type="tns:shiftPK" minOccurs="0"/>
</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>

<xs:complexType name="shiftPK">
<xs:complexContent>
<xs:extension base="tns:entityPrimaryKeyBaseBean">
<xs:sequence>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="investigationId" type="xs:long" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="searchByAdvanced">
<xs:sequence>

<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="advancedSearchDetails" type="tns:advancedSearchDetails" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByAdvancedResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserDetails">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="usersName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:userDetails" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userDetails">
<xs:sequence>
<xs:element name="credential" type="xs:string" minOccurs="0"/>
<xs:element name="department" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="federalId" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="initial" type="xs:string" minOccurs="0"/>
<xs:element name="institution" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>

<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoSuchUserException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listRules">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listRulesResponse">

<xs:sequence>
<xs:element name="return" type="tns:rule" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rule">
<xs:sequence>
<xs:element name="modTime" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadDatafiles">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datafileIds" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadDatafilesResponse">
<xs:sequence>
<xs:element name="URL" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listDatafileFormats">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listDatafileFormatsResponse">
<xs:sequence>
<xs:element name="return" type="tns:datafileFormat" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>

</xs:complexType>

<xs:complexType name="getFacilityUserByFacilityUserId">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="facilityUserId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFacilityUserByFacilityUserIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:facilityUser" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkDatafileDownloadAccess">
<xs:sequence>

<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datafileIds" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkDatafileDownloadAccessResponse">
<xs:sequence>
<xs:element name="downloadInfo" type="tns:downloadInfo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadInfo">
<xs:sequence>
<xs:element name="credential" type="xs:string" minOccurs="0"/>
<xs:element name="datafileLocations" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="datafileNames" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="userId" type="xs:string" minOccurs="0"/>

</xs:sequence>
</xs:complexType>

<xs:complexType name="search">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="query" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParameterByUnits">

<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="units" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParameterByUnitsResponse">
<xs:sequence>
<xs:element name="return" type="tns:parameter" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>

</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginLifetime">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="lifetime" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginLifetimeResponse">

<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByUserSurname">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByUserSurnameResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByUserSurnamePagination">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
<xs:element name="startIndex" type="xs:int"/>
<xs:element name="numberOfResults" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByUserSurnamePaginationResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkDatasetDownloadAccess">

<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datasetId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkDatasetDownloadAccessResponse">
<xs:sequence>
<xs:element name="downloadInfo" type="tns:downloadInfo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatasetIncludes">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datasetId" type="xs:long" minOccurs="0"/>
<xs:element name="datasetInclude" type="tns:datasetInclude" minOccurs="0"/>

</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatasetIncludesResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataset" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataset">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datasetId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatasetResponse">

<xs:sequence>
<xs:element name="return" type="tns:dataset" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByKeywordsAll">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="keywordDetails" type="tns:keywordDetails" minOccurs="0"/>
<xs:element name="startIndex" type="xs:int"/>
<xs:element name="numberOfResults" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="keywordDetails">
<xs:sequence>
<xs:element name="caseSensitive" type="xs:boolean"/>

<xs:element name="investigationInclude" type="tns:investigationInclude" minOccurs="0"/>
<xs:element name="keywords" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByKeywordsAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByKeywords">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="keywords" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByKeywordsResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllInstruments">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllInstrumentsResponse">
<xs:sequence>
<xs:element name="return" type="tns:instrument" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>

</xs:complexType>

<xs:complexType name="instrument">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="shortName" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ingestMetadata">
<xs:sequence>

<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="xml" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingestMetadataResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ICATAPIException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="get">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="query" type="xs:string" minOccurs="0"/>
<xs:element name="primaryKey" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getResponse">
<xs:sequence>
<xs:element name="return" type="tns:entityBaseBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatafile">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>

<xs:element name="datafileId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatafileResponse">
<xs:sequence>
<xs:element name="return" type="tns:datafile" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMyInvestigations">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMyInvestigationsResponse">

<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMyInvestigationsIncludes">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="investigationInclude" type="tns:investigationInclude" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMyInvestigationsIncludesResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMyInvestigationsIncludesPagination">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="investigationInclude" type="tns:investigationInclude" minOccurs="0"/>
<xs:element name="startIndex" type="xs:int"/>
<xs:element name="numberOfResults" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMyInvestigationsIncludesPaginationResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInvestigation">

<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="investigationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInvestigationResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInvestigationIncludes">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="investigationId" type="xs:long" minOccurs="0"/>
<xs:element name="investigationInclude" type="tns:investigationInclude" minOccurs="0"/>

</xs:sequence>
</xs:complexType>

<xs:complexType name="getInvestigationIncludesResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="bean" type="tns:entityBaseBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createResponse">

<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchDatasetsBySample">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="sample" type="tns:sample" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchDatasetsBySampleResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataset" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByUserID">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="userSearch" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByUserIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByUserIDPagination">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>

<xs:element name="userSearch" type="xs:string" minOccurs="0"/>
<xs:element name="startIndex" type="xs:int"/>
<xs:element name="numberOfResults" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByUserIDPaginationResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dummy">
<xs:sequence>
<xs:element name="arg0" type="tns:datafile" minOccurs="0"/>
<xs:element name="arg1" type="tns:datafileFormat" minOccurs="0"/>
<xs:element name="arg2" type="tns:datafileParameter" minOccurs="0"/>

<xs:element name="arg3" type="tns:dataset" minOccurs="0"/>
<xs:element name="arg4" type="tns:datasetParameter" minOccurs="0"/>
<xs:element name="arg5" type="tns:datasetStatus" minOccurs="0"/>
<xs:element name="arg6" type="tns:datasetType" minOccurs="0"/>
<xs:element name="arg7" type="tns:facility" minOccurs="0"/>
<xs:element name="arg8" type="tns:facilityCycle" minOccurs="0"/>
<xs:element name="arg9" type="tns:facilityInstrumentScientist" minOccurs="0"/>
<xs:element name="arg10" type="tns:facilityUser" minOccurs="0"/>
<xs:element name="arg11" type="tns:instrument" minOccurs="0"/>
<xs:element name="arg12" type="tns:investigation" minOccurs="0"/>
<xs:element name="arg13" type="tns:investigationType" minOccurs="0"/>
<xs:element name="arg14" type="tns:investigator" minOccurs="0"/>
<xs:element name="arg15" type="tns:keyword" minOccurs="0"/>
<xs:element name="arg16" type="tns:parameter" minOccurs="0"/>
<xs:element name="arg17" type="tns:publication" minOccurs="0"/>
<xs:element name="arg18" type="tns:relatedDatafiles" minOccurs="0"/>
<xs:element name="arg19" type="tns:sample" minOccurs="0"/>

<xs:element name="arg20" type="tns:sampleParameter" minOccurs="0"/>
<xs:element name="arg21" type="tns:shift" minOccurs="0"/>
<xs:element name="arg22" type="tns:softwareVersion" minOccurs="0"/>
<xs:element name="arg23" type="tns:study" minOccurs="0"/>
<xs:element name="arg24" type="tns:studyInvestigation" minOccurs="0"/>
<xs:element name="arg25" type="tns:studyStatus" minOccurs="0"/>
<xs:element name="arg26" type="tns:topic" minOccurs="0"/>
<xs:element name="arg27" type="tns:topicList" minOccurs="0"/>
<xs:element name="arg28" type="tns:userGroup" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datasetStatus">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>

<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datasetType">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="facility">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="daysUntilRelease" type="xs:long" minOccurs="0"/>
<xs:element name="facilityDescription" type="xs:string" minOccurs="0"/>
<xs:element name="facilityLongName" type="xs:string" minOccurs="0"/>
<xs:element name="facilityShortName" type="xs:string" minOccurs="0"/>
<xs:element name="facilityUrl" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="facilityInstrumentScientist">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">

<xs:sequence>
<xs:element name="facilityInstrumentScientistPK" type="tns:facilityInstrumentScientistPK" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="facilityInstrumentScientistPK">
<xs:complexContent>
<xs:extension base="tns:entityPrimaryKeyBaseBean">
<xs:sequence>
<xs:element name="federalId" type="xs:string" minOccurs="0"/>
<xs:element name="instrumentName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="investigationType">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="softwareVersion">
<xs:sequence>
<xs:element name="authors" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="features" type="xs:string" minOccurs="0"/>

<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="modId" type="xs:string" minOccurs="0"/>
<xs:element name="modTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="swVersion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="study">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="purpose" type="xs:string" minOccurs="0"/>
<xs:element name="relatedMaterial" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="tns:studyStatus" minOccurs="0"/>

<xs:element name="studyCreationDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="studyInvestigationCollection" type="tns:studyInvestigation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="studyManager" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="studyStatus">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="modId" type="xs:string" minOccurs="0"/>
<xs:element name="modTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="studyInvestigation">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element ref="tns:investigation" minOccurs="0"/>
<xs:element name="investigationVisitId" type="xs:string" minOccurs="0"/>
<xs:element name="study" type="tns:study" minOccurs="0"/>
<xs:element name="studyInvestigationPK" type="tns:studyInvestigationPK" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="studyInvestigationPK">
<xs:complexContent>
<xs:extension base="tns:entityPrimaryKeyBaseBean">
<xs:sequence>

<xs:element name="investigationId" type="xs:long" minOccurs="0"/>
<xs:element name="studyId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="topic">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="parentId" type="xs:long" minOccurs="0"/>
<xs:element name="topicLevel" type="xs:long" minOccurs="0"/>
<xs:element name="topicListCollection" type="tns:topicList" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>

</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="topicList">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="topicListPK" type="tns:topicListPK" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="topicListPK">
<xs:complexContent>
<xs:extension base="tns:entityPrimaryKeyBaseBean">

<xs:sequence>
<xs:element name="investigationId" type="xs:long" minOccurs="0"/>
<xs:element name="topicId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dummyResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listParameters">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listParametersResponse">
<xs:sequence>
<xs:element name="return" type="tns:parameter" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatasets">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datasetIds" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatasetsResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataset" minOccurs="0" maxOccurs="unbounded"/>

</xs:sequence>
</xs:complexType>

<xs:complexType name="getInvestigationsIncludes">
<xs:sequence>
<xs:element name="userId" type="xs:string" minOccurs="0"/>
<xs:element name="investigationIds" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="investigationInclude" type="tns:investigationInclude" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInvestigationsIncludesResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInvestigations">
<xs:sequence>
<xs:element name="userId" type="xs:string" minOccurs="0"/>
<xs:element name="investigationIds" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInvestigationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="datafileInclude">
<xs:restriction base="xs:string">
<xs:enumeration value="DATAFILE_PARAMETERS"/>
<xs:enumeration value="RELATED_DATAFILES"/>

<xs:enumeration value="ALL"/>
<xs:enumeration value="NONE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="parameterValueType">
<xs:restriction base="xs:string">
<xs:enumeration value="NUMERIC"/>
<xs:enumeration value="STRING"/>
<xs:enumeration value="DATE_AND_TIME"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="keywordType">
<xs:restriction base="xs:string">
<xs:enumeration value="ALL"/>
<xs:enumeration value="ALPHA_NUMERIC"/>

<xs:enumeration value="ALPHA"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="investigationInclude">
<xs:restriction base="xs:string">
<xs:enumeration value="INVESTIGATORS_ONLY"/>
<xs:enumeration value="KEYWORDS_ONLY"/>
<xs:enumeration value="PUBLICATIONS_ONLY"/>
<xs:enumeration value="INVESTIGATORS_AND_KEYWORDS"/>
<xs:enumeration value="INVESTIGATORS_AND_SHIFTS"/>
<xs:enumeration value="INVESTIGATORS_SHIFTS_AND_SAMPLES"/>
<xs:enumeration value="INVESTIGATORS_SHIFTS_SAMPLES_AND_PUBLICATIONS"/>
<xs:enumeration value="DATASETS_ONLY"/>
<xs:enumeration value="DATASETS_AND_DATASET_PARAMETERS_ONLY"/>
<xs:enumeration value="DATASETS_AND_DATAFILES"/>
<xs:enumeration value="DATASETS_DATAFILES_AND_PARAMETERS"/>

<xs:enumeration value="SAMPLES_ONLY"/>
<xs:enumeration value="ROLE_ONLY"/>
<xs:enumeration value="SHIFT_ONLY"/>
<xs:enumeration value="ALL"/>
<xs:enumeration value="NONE"/>
<xs:enumeration value="ALL_EXCEPT_DATASETS_AND_DATAFILES"/>
<xs:enumeration value="ALL_EXCEPT_DATASETS_DATAFILES_AND_ROLES"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="datasetInclude">
<xs:restriction base="xs:string">
<xs:enumeration value="DATASET_AND_DATAFILES_ONLY"/>
<xs:enumeration value="DATASET_PARAMETERS_ONLY"/>
<xs:enumeration value="DATASET_DATAFILES_AND_PARAMETERS"/>
<xs:enumeration value="NONE"/>
</xs:restriction>

</xs:simpleType>
</xs:schema>