Code/TopCATCore/src/wsdl/ICAT401/ICATService/ICAT.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="client.icat3.uk" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="client.icat3.uk">

<xs:element name="BadParameterException" type="tns:BadParameterException"/>

<xs:element name="ICATAPIException" type="tns:ICATAPIException"/>

<xs:element name="IcatInternalException" type="tns:IcatInternalException"/>

<xs:element name="InsufficientPrivilegesException" type="tns:InsufficientPrivilegesException"/>

<xs:element name="NoSuchObjectFoundException" type="tns:NoSuchObjectFoundException"/>

<xs:element name="NoSuchUserException" type="tns:NoSuchUserException"/>

<xs:element name="ObjectAlreadyExistsException" type="tns:ObjectAlreadyExistsException"/>

<xs:element name="SessionException" type="tns:SessionException"/>

<xs:element name="ValidationException" type="tns:ValidationException"/>

<xs:element name="checkDatafileDownloadAccess" type="tns:checkDatafileDownloadAccess"/>

<xs:element name="checkDatafileDownloadAccessResponse" type="tns:checkDatafileDownloadAccessResponse"/>

<xs:element name="checkDatasetDownloadAccess" type="tns:checkDatasetDownloadAccess"/>

<xs:element name="checkDatasetDownloadAccessResponse" type="tns:checkDatasetDownloadAccessResponse"/>

<xs:element name="create" type="tns:create"/>

<xs:element name="createResponse" type="tns:createResponse"/>

<xs:element name="datafile" type="tns:datafile"/>

<xs:element name="datafileParameter" type="tns:datafileParameter"/>

<xs:element name="dataset" type="tns:dataset"/>

<xs:element name="datasetParameter" type="tns:datasetParameter"/>

<xs:element name="delete" type="tns:delete"/>

<xs:element name="deleteResponse" type="tns:deleteResponse"/>

<xs:element name="downloadDatafile" type="tns:downloadDatafile"/>

<xs:element name="downloadDatafileResponse" type="tns:downloadDatafileResponse"/>

<xs:element name="downloadDatafiles" type="tns:downloadDatafiles"/>

<xs:element name="downloadDatafilesResponse" type="tns:downloadDatafilesResponse"/>

<xs:element name="downloadDataset" type="tns:downloadDataset"/>

<xs:element name="downloadDatasetResponse" type="tns:downloadDatasetResponse"/>

<xs:element name="dummy" type="tns:dummy"/>

<xs:element name="dummyResponse" type="tns:dummyResponse"/>

<xs:element name="get" type="tns:get"/>

<xs:element name="getEntityInfo" type="tns:getEntityInfo"/>

<xs:element name="getEntityInfoResponse" type="tns:getEntityInfoResponse"/>

<xs:element name="getICATAPIVersion" type="tns:getICATAPIVersion"/>

<xs:element name="getICATAPIVersionResponse" type="tns:getICATAPIVersionResponse"/>

<xs:element name="getKeywordsForUser" type="tns:getKeywordsForUser"/>

<xs:element name="getKeywordsForUserMax" type="tns:getKeywordsForUserMax"/>

<xs:element name="getKeywordsForUserMaxResponse" type="tns:getKeywordsForUserMaxResponse"/>

<xs:element name="getKeywordsForUserResponse" type="tns:getKeywordsForUserResponse"/>

<xs:element name="getMyInvestigations" type="tns:getMyInvestigations"/>

<xs:element name="getMyInvestigationsResponse" type="tns:getMyInvestigationsResponse"/>

<xs:element name="getResponse" type="tns:getResponse"/>

<xs:element name="getUserDetails" type="tns:getUserDetails"/>

<xs:element name="getUserDetailsResponse" type="tns:getUserDetailsResponse"/>

<xs:element name="ingestMetadata" type="tns:ingestMetadata"/>

<xs:element name="ingestMetadataResponse" type="tns:ingestMetadataResponse"/>

<xs:element name="investigation" type="tns:investigation"/>

<xs:element name="investigationParameter" type="tns:investigationParameter"/>

<xs:element name="investigationUser" type="tns:investigationUser"/>

<xs:element name="isSessionValid" type="tns:isSessionValid"/>

<xs:element name="isSessionValidResponse" type="tns:isSessionValidResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginAdmin" type="tns:loginAdmin"/>

<xs:element name="loginAdminResponse" type="tns:loginAdminResponse"/>

<xs:element name="loginLifetime" type="tns:loginLifetime"/>

<xs:element name="loginLifetimeResponse" type="tns:loginLifetimeResponse"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="logout" type="tns:logout"/>

<xs:element name="logoutResponse" type="tns:logoutResponse"/>

<xs:element name="rule" type="tns:rule"/>

<xs:element name="sampleParameter" type="tns:sampleParameter"/>

<xs:element name="search" type="tns:search"/>

<xs:element name="searchByAdvanced" type="tns:searchByAdvanced"/>

<xs:element name="searchByAdvancedResponse" type="tns:searchByAdvancedResponse"/>

<xs:element name="searchByKeywords" type="tns:searchByKeywords"/>

<xs:element name="searchByKeywordsResponse" type="tns:searchByKeywordsResponse"/>

<xs:element name="searchResponse" type="tns:searchResponse"/>

<xs:element name="update" type="tns:update"/>

<xs:element name="updateResponse" type="tns:updateResponse"/>

<xs:element name="user" type="tns:user"/>

<xs:complexType name="update">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="bean" type="tns:entityBaseBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="entityBaseBean" abstract="true">
<xs:sequence>
<xs:element name="modTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="createTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="createId" type="xs:string" minOccurs="0"/>
<xs:element name="modId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="SessionException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsufficientPrivilegesException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoSuchObjectFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ValidationException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IcatInternalException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserDetails">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="usersName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:userDetails" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userDetails">
<xs:sequence>
<xs:element name="credential" type="xs:string" minOccurs="0"/>
<xs:element name="department" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="federalId" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="initial" type="xs:string" minOccurs="0"/>
<xs:element name="institution" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoSuchUserException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isSessionValid">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isSessionValidResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getICATAPIVersion">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getICATAPIVersionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadDatafiles">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datafileIds" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadDatafilesResponse">
<xs:sequence>
<xs:element name="URL" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMyInvestigations">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMyInvestigationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="investigation">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datasets" type="tns:dataset" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="facility" type="tns:facility" minOccurs="0"/>
<xs:element name="facilityCycle" type="tns:facilityCycle" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="instrument" type="tns:instrument" minOccurs="0"/>
<xs:element name="investigationParameters" type="tns:investigationParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="investigationUsers" type="tns:investigationUser" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="keywords" type="tns:keyword" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="publications" type="tns:publication" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="releaseDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="samples" type="tns:sample" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="shifts" type="tns:shift" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="studyInvestigations" type="tns:studyInvestigation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="summary" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="topicInvestigations" type="tns:topicInvestigation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="type" type="tns:investigationType" minOccurs="0"/>
<xs:element name="visitId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dataset">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datafiles" type="tns:datafile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="datasetParameters" type="tns:datasetParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="inputDatasets" type="tns:inputDataset" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="investigation" type="tns:investigation" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="outputDatasets" type="tns:outputDataset" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sample" type="tns:sample" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="status" type="tns:datasetStatus" minOccurs="0"/>
<xs:element name="type" type="tns:datasetType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datafile">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="checksum" type="xs:string" minOccurs="0"/>
<xs:element name="command" type="xs:string" minOccurs="0"/>
<xs:element name="datafileCreateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datafileFormat" type="tns:datafileFormat" minOccurs="0"/>
<xs:element name="datafileModTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datafileParameters" type="tns:datafileParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="dataset" type="tns:dataset" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="destDatafiles" type="tns:relatedDatafile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="fileSize" type="xs:long" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="inputDatafiles" type="tns:inputDatafile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="outputDatafiles" type="tns:outputDatafile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="signature" type="xs:string" minOccurs="0"/>
<xs:element name="sourceDatafiles" type="tns:relatedDatafile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="version" type="xs:string" minOccurs="0"/>
<xs:element name="versionComment" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datafileFormat">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datafiles" type="tns:datafile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="version" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datafileParameter">
<xs:complexContent>
<xs:extension base="tns:parameter">
<xs:sequence>
<xs:element name="datafile" type="tns:datafile" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="parameter" abstract="true">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="dateTimeValue" type="xs:dateTime" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="error" type="xs:string" minOccurs="0"/>
<xs:element name="numericValue" type="xs:double" minOccurs="0"/>
<xs:element name="rangeBottom" type="xs:string" minOccurs="0"/>
<xs:element name="rangeTop" type="xs:string" minOccurs="0"/>
<xs:element name="stringValue" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="tns:parameterType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="parameterType">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="applicableToDatafile" type="xs:boolean"/>
<xs:element name="applicableToDataset" type="xs:boolean"/>
<xs:element name="applicableToInvestigation" type="xs:boolean"/>
<xs:element name="applicableToSample" type="xs:boolean"/>
<xs:element name="datafileParameters" type="tns:datafileParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="datasetParameters" type="tns:datasetParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="investigationParameters" type="tns:investigationParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="sampleParameters" type="tns:sampleParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="units" type="xs:string" minOccurs="0"/>
<xs:element name="unitsFullName" type="xs:string" minOccurs="0"/>
<xs:element name="valueType" type="tns:parameterValueType" minOccurs="0"/>
<xs:element name="verified" type="xs:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datasetParameter">
<xs:complexContent>
<xs:extension base="tns:parameter">
<xs:sequence>
<xs:element name="dataset" type="tns:dataset" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="investigationParameter">
<xs:complexContent>
<xs:extension base="tns:parameter">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="investigation" type="tns:investigation" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="sampleParameter">
<xs:complexContent>
<xs:extension base="tns:parameter">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="sample" type="tns:sample" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="sample">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datasets" type="tns:dataset" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="instance" type="xs:string" minOccurs="0"/>
<xs:element name="investigation" type="tns:investigation" minOccurs="0"/>
<xs:element name="molecularFormula" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="safetyInformation" type="xs:string" minOccurs="0"/>
<xs:element name="sampleParameters" type="tns:sampleParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="relatedDatafile">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="destDatafile" type="tns:datafile" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="relation" type="xs:string" minOccurs="0"/>
<xs:element name="sourceDatafile" type="tns:datafile" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inputDatafile">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datafile" type="tns:datafile" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="job" type="tns:job" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="job">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="application" type="tns:application" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="inputDatafiles" type="tns:inputDatafile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="inputDatasets" type="tns:inputDataset" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="outputDatafiles" type="tns:outputDatafile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="outputDatasets" type="tns:outputDataset" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="application">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="jobs" type="tns:job" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="version" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inputDataset">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="dataset" type="tns:dataset" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="job" type="tns:job" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outputDatafile">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datafile" type="tns:datafile" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="job" type="tns:job" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outputDataset">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="dataset" type="tns:dataset" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="job" type="tns:job" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datasetStatus">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datasets" type="tns:dataset" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datasetType">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datasets" type="tns:dataset" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="facility">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="daysUntilRelease" type="xs:int" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="fullName" type="xs:string" minOccurs="0"/>
<xs:element name="investigations" type="tns:investigation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="url" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="facilityCycle">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="investigations" type="tns:investigation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="instrument">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="fullName" type="xs:string" minOccurs="0"/>
<xs:element name="instrumentScientists" type="tns:instrumentScientist" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="investigations" type="tns:investigation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="instrumentScientist">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="instrument" type="tns:instrument" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="user">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="fullName" type="xs:string" minOccurs="0"/>
<xs:element name="instrumentScientists" type="tns:instrumentScientist" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="investigationUsers" type="tns:investigationUser" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="userGroups" type="tns:userGroup" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="investigationUser">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="investigation" type="tns:investigation" minOccurs="0"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="userGroup">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="group" type="tns:group" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="group">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="rules" type="tns:rule" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="userGroups" type="tns:userGroup" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="rule">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="crudFlags" type="xs:string" minOccurs="0"/>
<xs:element name="d" type="xs:boolean"/>
<xs:element name="group" type="tns:group" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="what" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="keyword">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="investigation" type="tns:investigation" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="publication">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="fullReference" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="investigation" type="tns:investigation" minOccurs="0"/>
<xs:element name="repository" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryId" type="xs:string" minOccurs="0"/>
<xs:element name="url" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="shift">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="comment" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="investigation" type="tns:investigation" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="studyInvestigation">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="investigation" type="tns:investigation" minOccurs="0"/>
<xs:element name="study" type="tns:study" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="study">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="manager" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="relatedMaterial" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="status" type="tns:studyStatus" minOccurs="0"/>
<xs:element name="studyInvestigations" type="tns:studyInvestigation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="studyStatus">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="studies" type="tns:study" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="topicInvestigation">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="investigation" type="tns:investigation" minOccurs="0"/>
<xs:element name="topic" type="tns:topic" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="topic">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="topicInvestigations" type="tns:topicInvestigation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="investigationType">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="investigations" type="tns:investigation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BadParameterException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkDatafileDownloadAccess">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datafileIds" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkDatafileDownloadAccessResponse">
<xs:sequence>
<xs:element name="downloadInfo" type="tns:downloadInfo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadInfo">
<xs:sequence>
<xs:element name="credential" type="xs:string" minOccurs="0"/>
<xs:element name="datafileLocations" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="datafileNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="userId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="search">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="query" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginLifetime">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="lifetime" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginLifetimeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadDatafile">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datafileId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadDatafileResponse">
<xs:sequence>
<xs:element name="URL" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="delete">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="bean" type="tns:entityBaseBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ObjectAlreadyExistsException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEntityInfo">
<xs:sequence>
<xs:element name="beanName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEntityInfoResponse">
<xs:sequence>
<xs:element name="return" type="tns:entityInfo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="entityInfo">
<xs:sequence>
<xs:element name="classComment" type="xs:string" minOccurs="0"/>
<xs:element name="constraints" type="tns:constraint" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="fields" type="tns:entityField" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="keyFieldname" type="xs:string" minOccurs="0"/>
<xs:element name="keyType" type="tns:keyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="constraint">
<xs:sequence>
<xs:element name="fieldNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="entityField">
<xs:sequence>
<xs:element name="cascaded" type="xs:boolean" minOccurs="0"/>
<xs:element name="comment" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="notNullable" type="xs:boolean"/>
<xs:element name="relType" type="tns:relType" minOccurs="0"/>
<xs:element name="stringLength" type="xs:int" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkDatasetDownloadAccess">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datasetId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkDatasetDownloadAccessResponse">
<xs:sequence>
<xs:element name="downloadInfo" type="tns:downloadInfo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByKeywords">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="keywords" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByKeywordsResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingestMetadata">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="xml" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingestMetadataResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ICATAPIException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="get">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="query" type="xs:string" minOccurs="0"/>
<xs:element name="primaryKey" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getResponse">
<xs:sequence>
<xs:element name="return" type="tns:entityBaseBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getKeywordsForUser">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getKeywordsForUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getKeywordsForUserMax">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="limit" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getKeywordsForUserMaxResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="bean" type="tns:entityBaseBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logout">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logoutResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadDataset">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datasetId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadDatasetResponse">
<xs:sequence>
<xs:element name="URL" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginAdmin">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="runAsUserFedId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dummy">
<xs:sequence>
<xs:element name="arg0" type="tns:datafile" minOccurs="0"/>
<xs:element name="arg1" type="tns:datafileFormat" minOccurs="0"/>
<xs:element name="arg2" type="tns:datafileParameter" minOccurs="0"/>
<xs:element name="arg3" type="tns:dataset" minOccurs="0"/>
<xs:element name="arg4" type="tns:datasetParameter" minOccurs="0"/>
<xs:element name="arg5" type="tns:datasetStatus" minOccurs="0"/>
<xs:element name="arg6" type="tns:datasetType" minOccurs="0"/>
<xs:element name="arg7" type="tns:facility" minOccurs="0"/>
<xs:element name="arg8" type="tns:facilityCycle" minOccurs="0"/>
<xs:element name="arg9" type="tns:instrumentScientist" minOccurs="0"/>
<xs:element name="arg10" type="tns:user" minOccurs="0"/>
<xs:element name="arg11" type="tns:instrument" minOccurs="0"/>
<xs:element name="arg12" type="tns:investigation" minOccurs="0"/>
<xs:element name="arg13" type="tns:investigationType" minOccurs="0"/>
<xs:element name="arg14" type="tns:investigationUser" minOccurs="0"/>
<xs:element name="arg15" type="tns:keyword" minOccurs="0"/>
<xs:element name="arg16" type="tns:parameterType" minOccurs="0"/>
<xs:element name="arg17" type="tns:publication" minOccurs="0"/>
<xs:element name="arg18" type="tns:relatedDatafile" minOccurs="0"/>
<xs:element name="arg19" type="tns:sample" minOccurs="0"/>
<xs:element name="arg20" type="tns:sampleParameter" minOccurs="0"/>
<xs:element name="arg21" type="tns:shift" minOccurs="0"/>
<xs:element name="arg22" type="tns:study" minOccurs="0"/>
<xs:element name="arg23" type="tns:studyInvestigation" minOccurs="0"/>
<xs:element name="arg24" type="tns:studyStatus" minOccurs="0"/>
<xs:element name="arg25" type="tns:topic" minOccurs="0"/>
<xs:element name="arg26" type="tns:topicInvestigation" minOccurs="0"/>
<xs:element name="arg27" type="tns:application" minOccurs="0"/>
<xs:element name="arg28" type="tns:job" minOccurs="0"/>
<xs:element name="arg29" type="tns:inputDataset" minOccurs="0"/>
<xs:element name="arg30" type="tns:outputDataset" minOccurs="0"/>
<xs:element name="arg31" type="tns:inputDatafile" minOccurs="0"/>
<xs:element name="arg32" type="tns:outputDatafile" minOccurs="0"/>
<xs:element name="arg33" type="tns:notificationRequest" minOccurs="0"/>
<xs:element name="arg34" type="tns:group" minOccurs="0"/>
<xs:element name="arg35" type="tns:userGroup" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="notificationRequest">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="crudFlags" type="xs:string" minOccurs="0"/>
<xs:element name="datatypes" type="xs:string" minOccurs="0"/>
<xs:element name="destType" type="tns:destType" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="jmsOptions" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="what" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dummyResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="searchByAdvanced">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="advancedSearchDetails" type="tns:advancedSearchDetails" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="advancedSearchDetails">
<xs:sequence>
<xs:element name="caseSensitive" type="xs:boolean"/>
<xs:element name="datafileName" type="xs:string" minOccurs="0"/>
<xs:element name="dateRangeEnd" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateRangeStart" type="xs:dateTime" minOccurs="0"/>
<xs:element name="experimentNumber" type="xs:string" minOccurs="0"/>
<xs:element name="instruments" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="investigationAbstract" type="xs:string" minOccurs="0"/>
<xs:element name="investigationInclude" type="tns:investigationInclude" minOccurs="0"/>
<xs:element name="investigationName" type="xs:string" minOccurs="0"/>
<xs:element name="investigationType" type="xs:string" minOccurs="0"/>
<xs:element name="investigators" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="keywords" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="runEnd" type="xs:double" minOccurs="0"/>
<xs:element name="runStart" type="xs:double" minOccurs="0"/>
<xs:element name="sampleName" type="xs:string" minOccurs="0"/>
<xs:element name="visitId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByAdvancedResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="parameterValueType">
<xs:restriction base="xs:string">
<xs:enumeration value="NUMERIC"/>
<xs:enumeration value="STRING"/>
<xs:enumeration value="DATE_AND_TIME"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="relType">
<xs:restriction base="xs:string">
<xs:enumeration value="MANY"/>
<xs:enumeration value="ONE"/>
<xs:enumeration value="ATTRIBUTE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="keyType">
<xs:restriction base="xs:string">
<xs:enumeration value="SIMPLE"/>
<xs:enumeration value="GENERATED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="destType">
<xs:restriction base="xs:string">
<xs:enumeration value="PUBSUB"/>
<xs:enumeration value="P2P"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="investigationInclude">
<xs:restriction base="xs:string">
<xs:enumeration value="INVESTIGATORS_ONLY"/>
<xs:enumeration value="KEYWORDS_ONLY"/>
<xs:enumeration value="PUBLICATIONS_ONLY"/>
<xs:enumeration value="INVESTIGATORS_AND_KEYWORDS"/>
<xs:enumeration value="INVESTIGATORS_AND_SHIFTS"/>
<xs:enumeration value="INVESTIGATORS_SHIFTS_AND_SAMPLES"/>
<xs:enumeration value="INVESTIGATORS_SHIFTS_SAMPLES_AND_PUBLICATIONS"/>
<xs:enumeration value="DATASETS_ONLY"/>
<xs:enumeration value="DATASETS_AND_DATASET_PARAMETERS_ONLY"/>
<xs:enumeration value="DATASETS_AND_DATAFILES"/>
<xs:enumeration value="DATASETS_DATAFILES_AND_PARAMETERS"/>
<xs:enumeration value="SAMPLES_ONLY"/>
<xs:enumeration value="ROLE_ONLY"/>
<xs:enumeration value="SHIFT_ONLY"/>
<xs:enumeration value="ALL"/>
<xs:enumeration value="NONE"/>
<xs:enumeration value="ALL_EXCEPT_DATASETS_AND_DATAFILES"/>
<xs:enumeration value="ALL_EXCEPT_DATASETS_DATAFILES_AND_ROLES"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>