Code/TopCATCore/src/wsdl/ICAT401/ICATService/ICAT.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="client.icat3.uk" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="client.icat3.uk" name="ICATService">
<types>
<xsd:schema>
<xsd:import namespace="client.icat3.uk" schemaLocation="ICAT.xsd_1.xsd"/>
</xsd:schema>
</types>
<message name="get">
<part name="parameters" element="tns:get"/>
</message>
<message name="getResponse">
<part name="parameters" element="tns:getResponse"/>
</message>
<message name="SessionException">
<part name="fault" element="tns:SessionException"/>
</message>
<message name="NoSuchObjectFoundException">
<part name="fault" element="tns:NoSuchObjectFoundException"/>
</message>
<message name="InsufficientPrivilegesException">
<part name="fault" element="tns:InsufficientPrivilegesException"/>
</message>
<message name="BadParameterException">
<part name="fault" element="tns:BadParameterException"/>
</message>
<message name="IcatInternalException">
<part name="fault" element="tns:IcatInternalException"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="ValidationException">
<part name="fault" element="tns:ValidationException"/>
</message>
<message name="ObjectAlreadyExistsException">
<part name="fault" element="tns:ObjectAlreadyExistsException"/>
</message>
<message name="search">
<part name="parameters" element="tns:search"/>
</message>
<message name="searchResponse">
<part name="parameters" element="tns:searchResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="dummy">
<part name="parameters" element="tns:dummy"/>
</message>
<message name="dummyResponse">
<part name="parameters" element="tns:dummyResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="loginLifetime">
<part name="parameters" element="tns:loginLifetime"/>
</message>
<message name="loginLifetimeResponse">
<part name="parameters" element="tns:loginLifetimeResponse"/>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<message name="ingestMetadata">
<part name="parameters" element="tns:ingestMetadata"/>
</message>
<message name="ingestMetadataResponse">
<part name="parameters" element="tns:ingestMetadataResponse"/>
</message>
<message name="ICATAPIException">
<part name="fault" element="tns:ICATAPIException"/>
</message>
<message name="getEntityInfo">
<part name="parameters" element="tns:getEntityInfo"/>
</message>
<message name="getEntityInfoResponse">
<part name="parameters" element="tns:getEntityInfoResponse"/>
</message>
<message name="loginAdmin">
<part name="parameters" element="tns:loginAdmin"/>
</message>
<message name="loginAdminResponse">
<part name="parameters" element="tns:loginAdminResponse"/>
</message>
<message name="getUserDetails">
<part name="parameters" element="tns:getUserDetails"/>
</message>
<message name="getUserDetailsResponse">
<part name="parameters" element="tns:getUserDetailsResponse"/>
</message>
<message name="NoSuchUserException">
<part name="fault" element="tns:NoSuchUserException"/>
</message>
<message name="isSessionValid">
<part name="parameters" element="tns:isSessionValid"/>
</message>
<message name="isSessionValidResponse">
<part name="parameters" element="tns:isSessionValidResponse"/>
</message>
<message name="downloadDatafile">
<part name="parameters" element="tns:downloadDatafile"/>
</message>
<message name="downloadDatafileResponse">
<part name="parameters" element="tns:downloadDatafileResponse"/>
</message>
<message name="downloadDataset">
<part name="parameters" element="tns:downloadDataset"/>
</message>
<message name="downloadDatasetResponse">
<part name="parameters" element="tns:downloadDatasetResponse"/>
</message>
<message name="downloadDatafiles">
<part name="parameters" element="tns:downloadDatafiles"/>
</message>
<message name="downloadDatafilesResponse">
<part name="parameters" element="tns:downloadDatafilesResponse"/>
</message>
<message name="checkDatafileDownloadAccess">
<part name="parameters" element="tns:checkDatafileDownloadAccess"/>
</message>
<message name="checkDatafileDownloadAccessResponse">
<part name="parameters" element="tns:checkDatafileDownloadAccessResponse"/>
</message>
<message name="checkDatasetDownloadAccess">
<part name="parameters" element="tns:checkDatasetDownloadAccess"/>
</message>
<message name="checkDatasetDownloadAccessResponse">
<part name="parameters" element="tns:checkDatasetDownloadAccessResponse"/>
</message>
<message name="getICATAPIVersion">
<part name="parameters" element="tns:getICATAPIVersion"/>
</message>
<message name="getICATAPIVersionResponse">
<part name="parameters" element="tns:getICATAPIVersionResponse"/>
</message>
<message name="getKeywordsForUser">
<part name="parameters" element="tns:getKeywordsForUser"/>
</message>
<message name="getKeywordsForUserResponse">
<part name="parameters" element="tns:getKeywordsForUserResponse"/>
</message>
<message name="getKeywordsForUserMax">
<part name="parameters" element="tns:getKeywordsForUserMax"/>
</message>
<message name="getKeywordsForUserMaxResponse">
<part name="parameters" element="tns:getKeywordsForUserMaxResponse"/>
</message>
<message name="getMyInvestigations">
<part name="parameters" element="tns:getMyInvestigations"/>
</message>
<message name="getMyInvestigationsResponse">
<part name="parameters" element="tns:getMyInvestigationsResponse"/>
</message>
<message name="searchByKeywords">
<part name="parameters" element="tns:searchByKeywords"/>
</message>
<message name="searchByKeywordsResponse">
<part name="parameters" element="tns:searchByKeywordsResponse"/>
</message>
<message name="searchByAdvanced">
<part name="parameters" element="tns:searchByAdvanced"/>
</message>
<message name="searchByAdvancedResponse">
<part name="parameters" element="tns:searchByAdvancedResponse"/>
</message>
<portType name="ICAT">
<operation name="get">
<input wsam:Action="client.icat3.uk/ICAT/getRequest" message="tns:get"/>
<output wsam:Action="client.icat3.uk/ICAT/getResponse" message="tns:getResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/get/Fault/SessionException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/get/Fault/NoSuchObjectFoundException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/get/Fault/InsufficientPrivilegesException"/>
<fault message="tns:BadParameterException" name="BadParameterException" wsam:Action="client.icat3.uk/ICAT/get/Fault/BadParameterException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/get/Fault/IcatInternalException"/>
</operation>
<operation name="delete">
<input wsam:Action="client.icat3.uk/ICAT/deleteRequest" message="tns:delete"/>
<output wsam:Action="client.icat3.uk/ICAT/deleteResponse" message="tns:deleteResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/delete/Fault/SessionException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/delete/Fault/InsufficientPrivilegesException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/delete/Fault/NoSuchObjectFoundException"/>
<fault message="tns:ValidationException" name="ValidationException" wsam:Action="client.icat3.uk/ICAT/delete/Fault/ValidationException"/>
<fault message="tns:ObjectAlreadyExistsException" name="ObjectAlreadyExistsException" wsam:Action="client.icat3.uk/ICAT/delete/Fault/ObjectAlreadyExistsException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/delete/Fault/IcatInternalException"/>
</operation>
<operation name="search">
<input wsam:Action="client.icat3.uk/ICAT/searchRequest" message="tns:search"/>
<output wsam:Action="client.icat3.uk/ICAT/searchResponse" message="tns:searchResponse"/>
<fault message="tns:BadParameterException" name="BadParameterException" wsam:Action="client.icat3.uk/ICAT/search/Fault/BadParameterException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/search/Fault/IcatInternalException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/search/Fault/InsufficientPrivilegesException"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/search/Fault/SessionException"/>
</operation>
<operation name="create">
<input wsam:Action="client.icat3.uk/ICAT/createRequest" message="tns:create"/>
<output wsam:Action="client.icat3.uk/ICAT/createResponse" message="tns:createResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/create/Fault/SessionException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/create/Fault/InsufficientPrivilegesException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/create/Fault/NoSuchObjectFoundException"/>
<fault message="tns:ValidationException" name="ValidationException" wsam:Action="client.icat3.uk/ICAT/create/Fault/ValidationException"/>
<fault message="tns:ObjectAlreadyExistsException" name="ObjectAlreadyExistsException" wsam:Action="client.icat3.uk/ICAT/create/Fault/ObjectAlreadyExistsException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/create/Fault/IcatInternalException"/>
</operation>
<operation name="update">
<input wsam:Action="client.icat3.uk/ICAT/updateRequest" message="tns:update"/>
<output wsam:Action="client.icat3.uk/ICAT/updateResponse" message="tns:updateResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/update/Fault/SessionException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/update/Fault/InsufficientPrivilegesException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/update/Fault/NoSuchObjectFoundException"/>
<fault message="tns:ValidationException" name="ValidationException" wsam:Action="client.icat3.uk/ICAT/update/Fault/ValidationException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/update/Fault/IcatInternalException"/>
</operation>
<operation name="dummy">
<input wsam:Action="client.icat3.uk/ICAT/dummyRequest" message="tns:dummy"/>
<output wsam:Action="client.icat3.uk/ICAT/dummyResponse" message="tns:dummyResponse"/>
</operation>
<operation name="login">
<input wsam:Action="client.icat3.uk/ICAT/loginRequest" message="tns:login"/>
<output wsam:Action="client.icat3.uk/ICAT/loginResponse" message="tns:loginResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/login/Fault/SessionException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/login/Fault/IcatInternalException"/>
</operation>
<operation name="loginLifetime">
<input wsam:Action="client.icat3.uk/ICAT/loginLifetimeRequest" message="tns:loginLifetime"/>
<output wsam:Action="client.icat3.uk/ICAT/loginLifetimeResponse" message="tns:loginLifetimeResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/loginLifetime/Fault/SessionException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/loginLifetime/Fault/IcatInternalException"/>
</operation>
<operation name="logout">
<input wsam:Action="client.icat3.uk/ICAT/logoutRequest" message="tns:logout"/>
<output wsam:Action="client.icat3.uk/ICAT/logoutResponse" message="tns:logoutResponse"/>
</operation>
<operation name="ingestMetadata">
<input wsam:Action="client.icat3.uk/ICAT/ingestMetadataRequest" message="tns:ingestMetadata"/>
<output wsam:Action="client.icat3.uk/ICAT/ingestMetadataResponse" message="tns:ingestMetadataResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/ingestMetadata/Fault/SessionException"/>
<fault message="tns:ValidationException" name="ValidationException" wsam:Action="client.icat3.uk/ICAT/ingestMetadata/Fault/ValidationException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/ingestMetadata/Fault/InsufficientPrivilegesException"/>
<fault message="tns:ICATAPIException" name="ICATAPIException" wsam:Action="client.icat3.uk/ICAT/ingestMetadata/Fault/ICATAPIException"/>
</operation>
<operation name="getEntityInfo">
<input wsam:Action="client.icat3.uk/ICAT/getEntityInfoRequest" message="tns:getEntityInfo"/>
<output wsam:Action="client.icat3.uk/ICAT/getEntityInfoResponse" message="tns:getEntityInfoResponse"/>
<fault message="tns:BadParameterException" name="BadParameterException" wsam:Action="client.icat3.uk/ICAT/getEntityInfo/Fault/BadParameterException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/getEntityInfo/Fault/IcatInternalException"/>
</operation>
<operation name="loginAdmin">
<input wsam:Action="client.icat3.uk/ICAT/loginAdminRequest" message="tns:loginAdmin"/>
<output wsam:Action="client.icat3.uk/ICAT/loginAdminResponse" message="tns:loginAdminResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/loginAdmin/Fault/SessionException"/>
</operation>
<operation name="getUserDetails">
<input wsam:Action="client.icat3.uk/ICAT/getUserDetailsRequest" message="tns:getUserDetails"/>
<output wsam:Action="client.icat3.uk/ICAT/getUserDetailsResponse" message="tns:getUserDetailsResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getUserDetails/Fault/SessionException"/>
<fault message="tns:NoSuchUserException" name="NoSuchUserException" wsam:Action="client.icat3.uk/ICAT/getUserDetails/Fault/NoSuchUserException"/>
</operation>
<operation name="isSessionValid">
<input wsam:Action="client.icat3.uk/ICAT/isSessionValidRequest" message="tns:isSessionValid"/>
<output wsam:Action="client.icat3.uk/ICAT/isSessionValidResponse" message="tns:isSessionValidResponse"/>
</operation>
<operation name="downloadDatafile">
<input wsam:Action="client.icat3.uk/ICAT/downloadDatafileRequest" message="tns:downloadDatafile"/>
<output wsam:Action="client.icat3.uk/ICAT/downloadDatafileResponse" message="tns:downloadDatafileResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/downloadDatafile/Fault/SessionException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/downloadDatafile/Fault/NoSuchObjectFoundException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/downloadDatafile/Fault/InsufficientPrivilegesException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/downloadDatafile/Fault/IcatInternalException"/>
</operation>
<operation name="downloadDataset">
<input wsam:Action="client.icat3.uk/ICAT/downloadDatasetRequest" message="tns:downloadDataset"/>
<output wsam:Action="client.icat3.uk/ICAT/downloadDatasetResponse" message="tns:downloadDatasetResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/downloadDataset/Fault/SessionException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/downloadDataset/Fault/NoSuchObjectFoundException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/downloadDataset/Fault/InsufficientPrivilegesException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/downloadDataset/Fault/IcatInternalException"/>
</operation>
<operation name="downloadDatafiles">
<input wsam:Action="client.icat3.uk/ICAT/downloadDatafilesRequest" message="tns:downloadDatafiles"/>
<output wsam:Action="client.icat3.uk/ICAT/downloadDatafilesResponse" message="tns:downloadDatafilesResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/downloadDatafiles/Fault/SessionException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/downloadDatafiles/Fault/NoSuchObjectFoundException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/downloadDatafiles/Fault/InsufficientPrivilegesException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/downloadDatafiles/Fault/IcatInternalException"/>
</operation>
<operation name="checkDatafileDownloadAccess">
<input wsam:Action="client.icat3.uk/ICAT/checkDatafileDownloadAccessRequest" message="tns:checkDatafileDownloadAccess"/>
<output wsam:Action="client.icat3.uk/ICAT/checkDatafileDownloadAccessResponse" message="tns:checkDatafileDownloadAccessResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/checkDatafileDownloadAccess/Fault/SessionException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/checkDatafileDownloadAccess/Fault/NoSuchObjectFoundException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/checkDatafileDownloadAccess/Fault/InsufficientPrivilegesException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/checkDatafileDownloadAccess/Fault/IcatInternalException"/>
</operation>
<operation name="checkDatasetDownloadAccess">
<input wsam:Action="client.icat3.uk/ICAT/checkDatasetDownloadAccessRequest" message="tns:checkDatasetDownloadAccess"/>
<output wsam:Action="client.icat3.uk/ICAT/checkDatasetDownloadAccessResponse" message="tns:checkDatasetDownloadAccessResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/checkDatasetDownloadAccess/Fault/SessionException"/>
<fault message="tns:NoSuchObjectFoundException" name="NoSuchObjectFoundException" wsam:Action="client.icat3.uk/ICAT/checkDatasetDownloadAccess/Fault/NoSuchObjectFoundException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/checkDatasetDownloadAccess/Fault/InsufficientPrivilegesException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/checkDatasetDownloadAccess/Fault/IcatInternalException"/>
</operation>
<operation name="getICATAPIVersion">
<input wsam:Action="client.icat3.uk/ICAT/getICATAPIVersionRequest" message="tns:getICATAPIVersion"/>
<output wsam:Action="client.icat3.uk/ICAT/getICATAPIVersionResponse" message="tns:getICATAPIVersionResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getICATAPIVersion/Fault/SessionException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/getICATAPIVersion/Fault/InsufficientPrivilegesException"/>
</operation>
<operation name="getKeywordsForUser">
<input wsam:Action="client.icat3.uk/ICAT/getKeywordsForUserRequest" message="tns:getKeywordsForUser"/>
<output wsam:Action="client.icat3.uk/ICAT/getKeywordsForUserResponse" message="tns:getKeywordsForUserResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getKeywordsForUser/Fault/SessionException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/getKeywordsForUser/Fault/IcatInternalException"/>
<fault message="tns:BadParameterException" name="BadParameterException" wsam:Action="client.icat3.uk/ICAT/getKeywordsForUser/Fault/BadParameterException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/getKeywordsForUser/Fault/InsufficientPrivilegesException"/>
</operation>
<operation name="getKeywordsForUserMax">
<input wsam:Action="client.icat3.uk/ICAT/getKeywordsForUserMaxRequest" message="tns:getKeywordsForUserMax"/>
<output wsam:Action="client.icat3.uk/ICAT/getKeywordsForUserMaxResponse" message="tns:getKeywordsForUserMaxResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getKeywordsForUserMax/Fault/SessionException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/getKeywordsForUserMax/Fault/IcatInternalException"/>
<fault message="tns:BadParameterException" name="BadParameterException" wsam:Action="client.icat3.uk/ICAT/getKeywordsForUserMax/Fault/BadParameterException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/getKeywordsForUserMax/Fault/InsufficientPrivilegesException"/>
</operation>
<operation name="getMyInvestigations">
<input wsam:Action="client.icat3.uk/ICAT/getMyInvestigationsRequest" message="tns:getMyInvestigations"/>
<output wsam:Action="client.icat3.uk/ICAT/getMyInvestigationsResponse" message="tns:getMyInvestigationsResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/getMyInvestigations/Fault/SessionException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/getMyInvestigations/Fault/IcatInternalException"/>
<fault message="tns:BadParameterException" name="BadParameterException" wsam:Action="client.icat3.uk/ICAT/getMyInvestigations/Fault/BadParameterException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/getMyInvestigations/Fault/InsufficientPrivilegesException"/>
</operation>
<operation name="searchByKeywords">
<input wsam:Action="client.icat3.uk/ICAT/searchByKeywordsRequest" message="tns:searchByKeywords"/>
<output wsam:Action="client.icat3.uk/ICAT/searchByKeywordsResponse" message="tns:searchByKeywordsResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/searchByKeywords/Fault/SessionException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/searchByKeywords/Fault/IcatInternalException"/>
<fault message="tns:BadParameterException" name="BadParameterException" wsam:Action="client.icat3.uk/ICAT/searchByKeywords/Fault/BadParameterException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/searchByKeywords/Fault/InsufficientPrivilegesException"/>
</operation>
<operation name="searchByAdvanced">
<input wsam:Action="client.icat3.uk/ICAT/searchByAdvancedRequest" message="tns:searchByAdvanced"/>
<output wsam:Action="client.icat3.uk/ICAT/searchByAdvancedResponse" message="tns:searchByAdvancedResponse"/>
<fault message="tns:SessionException" name="SessionException" wsam:Action="client.icat3.uk/ICAT/searchByAdvanced/Fault/SessionException"/>
<fault message="tns:IcatInternalException" name="IcatInternalException" wsam:Action="client.icat3.uk/ICAT/searchByAdvanced/Fault/IcatInternalException"/>
<fault message="tns:BadParameterException" name="BadParameterException" wsam:Action="client.icat3.uk/ICAT/searchByAdvanced/Fault/BadParameterException"/>
<fault message="tns:InsufficientPrivilegesException" name="InsufficientPrivilegesException" wsam:Action="client.icat3.uk/ICAT/searchByAdvanced/Fault/InsufficientPrivilegesException"/>
</operation>
</portType>
<binding name="ICATPortBinding" type="tns:ICAT">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="get">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="BadParameterException">
<soap:fault name="BadParameterException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
<fault name="ValidationException">
<soap:fault name="ValidationException" use="literal"/>
</fault>
<fault name="ObjectAlreadyExistsException">
<soap:fault name="ObjectAlreadyExistsException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
</operation>
<operation name="search">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BadParameterException">
<soap:fault name="BadParameterException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
<fault name="ValidationException">
<soap:fault name="ValidationException" use="literal"/>
</fault>
<fault name="ObjectAlreadyExistsException">
<soap:fault name="ObjectAlreadyExistsException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
<fault name="ValidationException">
<soap:fault name="ValidationException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
</operation>
<operation name="dummy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
</operation>
<operation name="loginLifetime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
</operation>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingestMetadata">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="ValidationException">
<soap:fault name="ValidationException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="ICATAPIException">
<soap:fault name="ICATAPIException" use="literal"/>
</fault>
</operation>
<operation name="getEntityInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BadParameterException">
<soap:fault name="BadParameterException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
</operation>
<operation name="loginAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
</operation>
<operation name="getUserDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="NoSuchUserException">
<soap:fault name="NoSuchUserException" use="literal"/>
</fault>
</operation>
<operation name="isSessionValid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="downloadDatafile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
</operation>
<operation name="downloadDataset">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
</operation>
<operation name="downloadDatafiles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
</operation>
<operation name="checkDatafileDownloadAccess">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
</operation>
<operation name="checkDatasetDownloadAccess">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="NoSuchObjectFoundException">
<soap:fault name="NoSuchObjectFoundException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
</operation>
<operation name="getICATAPIVersion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
</operation>
<operation name="getKeywordsForUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
<fault name="BadParameterException">
<soap:fault name="BadParameterException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
</operation>
<operation name="getKeywordsForUserMax">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
<fault name="BadParameterException">
<soap:fault name="BadParameterException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
</operation>
<operation name="getMyInvestigations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
<fault name="BadParameterException">
<soap:fault name="BadParameterException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
</operation>
<operation name="searchByKeywords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
<fault name="BadParameterException">
<soap:fault name="BadParameterException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
</operation>
<operation name="searchByAdvanced">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SessionException">
<soap:fault name="SessionException" use="literal"/>
</fault>
<fault name="IcatInternalException">
<soap:fault name="IcatInternalException" use="literal"/>
</fault>
<fault name="BadParameterException">
<soap:fault name="BadParameterException" use="literal"/>
</fault>
<fault name="InsufficientPrivilegesException">
<soap:fault name="InsufficientPrivilegesException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ICATService">
<port name="ICATPort" binding="tns:ICATPortBinding">
<soap:address location="http://rclsfserv009.rc-harwell.ac.uk:8080/ICATService/ICAT"/>
</port>
</service>
</definitions>